DashenBank_NotificationToTaxSystem_App/NotificationToTaxSystem_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/NotificationToTaxSystem/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/NotificationToTaxSystem/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <xsd:element name="NotifyTax">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="NotifyTaxResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="NotifyAuthority" type="tns:NotifyAuthority"/>

      <xsd:complexType name="NotifyAuthority">
      	<xsd:sequence>
      		<xsd:element name="billID" type="xsd:string"/>
      		<xsd:element name="billerID" type="xsd:string"/>
      		<xsd:element name="appcode" type="xsd:string"/>
      		<xsd:element name="apppassphrase" type="xsd:string"/>
      	</xsd:sequence>
      </xsd:complexType>
      <xsd:element ibmSchExtn:docRoot="true" name="NotifyAuthorityResponse" type="tns:NotifyAuthorityResponse">
      </xsd:element>

      <xsd:complexType name="NotifyAuthorityResponse">
      	<xsd:sequence>
      		<xsd:element name="NotifyAuthorityResult" type="tns:NotifyAuthorityResult">
      		</xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="NotifyAuthorityResult">
      	<xsd:sequence>
      		<xsd:element name="NotifyResponse" type="tns:NotifyResponse">
      		</xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="NotifyResponse">
      	<xsd:sequence>
      		<xsd:element name="UtilAPINotifyResponse" type="tns:UtilAPINotifyResponse">
      		</xsd:element>
      		<xsd:element name="Successful" type="xsd:boolean"/>
      		<xsd:element name="Remarks" type="xsd:string"/>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="UtilAPINotifyResponse">
      	<xsd:sequence>
      		<xsd:element name="confirmation_code" type="xsd:string"/>
      	</xsd:sequence>
      </xsd:complexType>
    </xsd:schema>