DashenBank_BillStatus_App/BillStatusCheck_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/BillStatusCheck/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/BillStatusCheck/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <xsd:element name="BillStatus">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="BillStatusResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="CheckStatus" type="tns:CheckStatus"/>

      <xsd:complexType name="CheckStatus">
      	<xsd:sequence>
      		<xsd:element name="billID" type="xsd:string"/>
      		<xsd:element name="billerID" type="xsd:string"/>
      		<xsd:element name="appcode" type="xsd:string"/>
      		<xsd:element name="apppassphrase" type="xsd:string"/>
      	</xsd:sequence>
      </xsd:complexType>
      <xsd:element ibmSchExtn:docRoot="true" name="CheckStatusResponse" type="tns:CheckStatusResponse">
      </xsd:element>

      <xsd:complexType name="CheckStatusResponse">
      	<xsd:sequence>
      		<xsd:element name="UtilAPICheckStatusResponse" type="tns:UtilAPICheckStatusResponse">
      		</xsd:element>
      		<xsd:element name="Successful" type="xsd:boolean"/>
      		<xsd:element name="Remarks" type="xsd:string"/>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="UtilAPICheckStatusResponse">
      	<xsd:sequence>
      		<xsd:element name="CBSPosted" type="xsd:boolean"/>
      		<xsd:element name="ACHCreated" type="xsd:boolean"/>
      		<xsd:element name="ACHAccepted" type="xsd:boolean"/>
      		<xsd:element name="ACHRejected" type="xsd:boolean"/>
      		<xsd:element name="Notified" type="xsd:boolean"/>
      	</xsd:sequence>
      </xsd:complexType>
    </xsd:schema>