DashenBank_Fundstransfer_App/fundstransfer.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" name="FCUBSRTService" targetNamespace="http://FCUBSRTService.types.ws.gw.fcubs.ofss.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://FCUBSRTService.types.ws.gw.fcubs.ofss.com" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <documentation>
    <appinfo source="WMQI_APPINFO">
      <MRWSDLAppInfo imported="true">
        <binding hasEncoding="false" imported="true" name="FCUBSRTServiceSEIBinding" originalBindingStyle="document"/>
      </MRWSDLAppInfo>
    </appinfo>
  </documentation>
<types>
<xsd:schema>
<xsd:import namespace="http://fcubs.ofss.com/service/FCUBSRTService" schemaLocation="RemoteFiles/xsd_1.xsd"/>
</xsd:schema>
</types>
<message name="AuthorizeTransactionFS">
<part element="ns1:AUTHORIZETRANSACTION_FSFS_REQ" name="RequestMsg" xmlns:ns1="http://fcubs.ofss.com/service/FCUBSRTService"/>
</message>
<message name="AuthorizeTransactionFSResponse">
<part element="ns2:AUTHORIZETRANSACTION_FSFS_RES" name="ResponseMsg" xmlns:ns2="http://fcubs.ofss.com/service/FCUBSRTService"/>
</message>
<message name="ReverseTransactionFS">
<part element="ns3:REVERSETRANSACTION_FSFS_REQ" name="RequestMsg" xmlns:ns3="http://fcubs.ofss.com/service/FCUBSRTService"/>
</message>
<message name="ReverseTransactionFSResponse">
<part element="ns4:REVERSETRANSACTION_FSFS_RES" name="ResponseMsg" xmlns:ns4="http://fcubs.ofss.com/service/FCUBSRTService"/>
</message>
<message name="ReopenBranchGroupIO">
<part element="ns5:REOPENBRANCHGROUP_IOPK_REQ" name="RequestMsg" xmlns:ns5="http://fcubs.ofss.com/service/FCUBSRTService"/>
</message>
<message name="ReopenBranchGroupIOResponse">
<part element="ns6:REOPENBRANCHGROUP_IOPK_RES" name="ResponseMsg" xmlns:ns6="http://fcubs.ofss.com/service/FCUBSRTService"/>
</message>
<message name="QueryBranchGroupIO">
<part element="ns7:QUERYBRANCHGROUP_IOFS_REQ" name="RequestMsg" xmlns:ns7="http://fcubs.ofss.com/service/FCUBSRTService"/>
</message>
<message name="QueryBranchGroupIOResponse">
<part element="ns8:QUERYBRANCHGROUP_IOFS_RES" name="ResponseMsg" xmlns:ns8="http://fcubs.ofss.com/service/FCUBSRTService"/>
</message>
<message name="CreateTransactionFS">
<part element="ns9:CREATETRANSACTION_FSFS_REQ" name="RequestMsg" xmlns:ns9="http://fcubs.ofss.com/service/FCUBSRTService"/>
</message>
<message name="CreateTransactionFSResponse">
<part element="ns10:CREATETRANSACTION_FSFS_RES" name="ResponseMsg" xmlns:ns10="http://fcubs.ofss.com/service/FCUBSRTService"/>
</message>
<message name="QueryTransactionIO">
<part element="ns11:QUERYTRANSACTION_IOFS_REQ" name="RequestMsg" xmlns:ns11="http://fcubs.ofss.com/service/FCUBSRTService"/>
</message>
<message name="QueryTransactionIOResponse">
<part element="ns12:QUERYTRANSACTION_IOFS_RES" name="ResponseMsg" xmlns:ns12="http://fcubs.ofss.com/service/FCUBSRTService"/>
</message>
<message name="ReopenBranchGroupFS">
<part element="ns13:REOPENBRANCHGROUP_FSFS_REQ" name="RequestMsg" xmlns:ns13="http://fcubs.ofss.com/service/FCUBSRTService"/>
</message>
<message name="ReopenBranchGroupFSResponse">
<part element="ns14:REOPENBRANCHGROUP_FSFS_RES" name="ResponseMsg" xmlns:ns14="http://fcubs.ofss.com/service/FCUBSRTService"/>
</message>
<message name="ReverseTransactionIO">
<part element="ns15:REVERSETRANSACTION_IOPK_REQ" name="RequestMsg" xmlns:ns15="http://fcubs.ofss.com/service/FCUBSRTService"/>
</message>
<message name="ReverseTransactionIOResponse">
<part element="ns16:REVERSETRANSACTION_IOPK_RES" name="ResponseMsg" xmlns:ns16="http://fcubs.ofss.com/service/FCUBSRTService"/>
</message>
<message name="ModifyBranchGroupFS">
<part element="ns17:MODIFYBRANCHGROUP_FSFS_REQ" name="RequestMsg" xmlns:ns17="http://fcubs.ofss.com/service/FCUBSRTService"/>
</message>
<message name="ModifyBranchGroupFSResponse">
<part element="ns18:MODIFYBRANCHGROUP_FSFS_RES" name="ResponseMsg" xmlns:ns18="http://fcubs.ofss.com/service/FCUBSRTService"/>
</message>
<message name="AuthorizeBranchGroupFS">
<part element="ns19:AUTHORIZEBRANCHGROUP_FSFS_REQ" name="RequestMsg" xmlns:ns19="http://fcubs.ofss.com/service/FCUBSRTService"/>
</message>
<message name="AuthorizeBranchGroupFSResponse">
<part element="ns20:AUTHORIZEBRANCHGROUP_FSFS_RES" name="ResponseMsg" xmlns:ns20="http://fcubs.ofss.com/service/FCUBSRTService"/>
</message>
<message name="CloseBranchGroupIO">
<part element="ns21:CLOSEBRANCHGROUP_IOPK_REQ" name="RequestMsg" xmlns:ns21="http://fcubs.ofss.com/service/FCUBSRTService"/>
</message>
<message name="CloseBranchGroupIOResponse">
<part element="ns22:CLOSEBRANCHGROUP_IOPK_RES" name="ResponseMsg" xmlns:ns22="http://fcubs.ofss.com/service/FCUBSRTService"/>
</message>
<message name="RePrintAccPassbookIO">
<part element="ns23:REPRINTACCPASSBOOK_IOFS_REQ" name="RequestMsg" xmlns:ns23="http://fcubs.ofss.com/service/FCUBSRTService"/>
</message>
<message name="RePrintAccPassbookIOResponse">
<part element="ns24:REPRINTACCPASSBOOK_IOFS_RES" name="ResponseMsg" xmlns:ns24="http://fcubs.ofss.com/service/FCUBSRTService"/>
</message>
<message name="CreateTransactionIO">
<part element="ns25:CREATETRANSACTION_IOPK_REQ" name="RequestMsg" xmlns:ns25="http://fcubs.ofss.com/service/FCUBSRTService"/>
</message>
<message name="CreateTransactionIOResponse">
<part element="ns26:CREATETRANSACTION_IOPK_RES" name="ResponseMsg" xmlns:ns26="http://fcubs.ofss.com/service/FCUBSRTService"/>
</message>
<message name="ModifyBranchGroupIO">
<part element="ns27:MODIFYBRANCHGROUP_IOPK_REQ" name="RequestMsg" xmlns:ns27="http://fcubs.ofss.com/service/FCUBSRTService"/>
</message>
<message name="ModifyBranchGroupIOResponse">
<part element="ns28:MODIFYBRANCHGROUP_IOPK_RES" name="ResponseMsg" xmlns:ns28="http://fcubs.ofss.com/service/FCUBSRTService"/>
</message>
<message name="AuthorizeBranchGroupIO">
<part element="ns29:AUTHORIZEBRANCHGROUP_IOPK_REQ" name="RequestMsg" xmlns:ns29="http://fcubs.ofss.com/service/FCUBSRTService"/>
</message>
<message name="AuthorizeBranchGroupIOResponse">
<part element="ns30:AUTHORIZEBRANCHGROUP_IOPK_RES" name="ResponseMsg" xmlns:ns30="http://fcubs.ofss.com/service/FCUBSRTService"/>
</message>
<message name="CreateBranchGroupIO">
<part element="ns31:CREATEBRANCHGROUP_IOPK_REQ" name="RequestMsg" xmlns:ns31="http://fcubs.ofss.com/service/FCUBSRTService"/>
</message>
<message name="CreateBranchGroupIOResponse">
<part element="ns32:CREATEBRANCHGROUP_IOPK_RES" name="ResponseMsg" xmlns:ns32="http://fcubs.ofss.com/service/FCUBSRTService"/>
</message>
<message name="CloseBranchGroupFS">
<part element="ns33:CLOSEBRANCHGROUP_FSFS_REQ" name="RequestMsg" xmlns:ns33="http://fcubs.ofss.com/service/FCUBSRTService"/>
</message>
<message name="CloseBranchGroupFSResponse">
<part element="ns34:CLOSEBRANCHGROUP_FSFS_RES" name="ResponseMsg" xmlns:ns34="http://fcubs.ofss.com/service/FCUBSRTService"/>
</message>
<message name="DeleteBranchGroupIO">
<part element="ns35:DELETEBRANCHGROUP_IOPK_REQ" name="RequestMsg" xmlns:ns35="http://fcubs.ofss.com/service/FCUBSRTService"/>
</message>
<message name="DeleteBranchGroupIOResponse">
<part element="ns36:DELETEBRANCHGROUP_IOPK_RES" name="ResponseMsg" xmlns:ns36="http://fcubs.ofss.com/service/FCUBSRTService"/>
</message>
<message name="AuthorizeTransactionIO">
<part element="ns37:AUTHORIZETRANSACTION_IOPK_REQ" name="RequestMsg" xmlns:ns37="http://fcubs.ofss.com/service/FCUBSRTService"/>
</message>
<message name="AuthorizeTransactionIOResponse">
<part element="ns38:AUTHORIZETRANSACTION_IOPK_RES" name="ResponseMsg" xmlns:ns38="http://fcubs.ofss.com/service/FCUBSRTService"/>
</message>
<message name="CreateAccPassbookIO">
<part element="ns39:CREATEACCPASSBOOK_IOFS_REQ" name="RequestMsg" xmlns:ns39="http://fcubs.ofss.com/service/FCUBSRTService"/>
</message>
<message name="CreateAccPassbookIOResponse">
<part element="ns40:CREATEACCPASSBOOK_IOFS_RES" name="ResponseMsg" xmlns:ns40="http://fcubs.ofss.com/service/FCUBSRTService"/>
</message>
<message name="QueryRTProductIO">
<part element="ns41:QUERYRTPRODUCT_IOFS_REQ" name="RequestMsg" xmlns:ns41="http://fcubs.ofss.com/service/FCUBSRTService"/>
</message>
<message name="QueryRTProductIOResponse">
<part element="ns42:QUERYRTPRODUCT_IOFS_RES" name="ResponseMsg" xmlns:ns42="http://fcubs.ofss.com/service/FCUBSRTService"/>
</message>
<message name="CreateBranchGroupFS">
<part element="ns43:CREATEBRANCHGROUP_FSFS_REQ" name="RequestMsg" xmlns:ns43="http://fcubs.ofss.com/service/FCUBSRTService"/>
</message>
<message name="CreateBranchGroupFSResponse">
<part element="ns44:CREATEBRANCHGROUP_FSFS_RES" name="ResponseMsg" xmlns:ns44="http://fcubs.ofss.com/service/FCUBSRTService"/>
</message>
<message name="DeleteBranchGroupFS">
<part element="ns45:DELETEBRANCHGROUP_FSFS_REQ" name="RequestMsg" xmlns:ns45="http://fcubs.ofss.com/service/FCUBSRTService"/>
</message>
<message name="DeleteBranchGroupFSResponse">
<part element="ns46:DELETEBRANCHGROUP_FSFS_RES" name="ResponseMsg" xmlns:ns46="http://fcubs.ofss.com/service/FCUBSRTService"/>
</message>
<message name="UpdateAccPassbookIO">
<part element="ns47:UPDATEACCPASSBOOK_IOFS_REQ" name="RequestMsg" xmlns:ns47="http://fcubs.ofss.com/service/FCUBSRTService"/>
</message>
<message name="UpdateAccPassbookIOResponse">
<part element="ns48:UPDATEACCPASSBOOK_IOFS_RES" name="ResponseMsg" xmlns:ns48="http://fcubs.ofss.com/service/FCUBSRTService"/>
</message>
<portType name="FCUBSRTServiceSEI">
<operation name="AuthorizeTransactionFS">
<input message="tns:AuthorizeTransactionFS" wsam:Action="http://FCUBSRTService.types.ws.gw.fcubs.ofss.com/FCUBSRTServiceSEI/AuthorizeTransactionFSRequest"/>
<output message="tns:AuthorizeTransactionFSResponse" wsam:Action="http://FCUBSRTService.types.ws.gw.fcubs.ofss.com/FCUBSRTServiceSEI/AuthorizeTransactionFSResponse"/>
</operation>
<operation name="ReverseTransactionFS">
<input message="tns:ReverseTransactionFS" wsam:Action="http://FCUBSRTService.types.ws.gw.fcubs.ofss.com/FCUBSRTServiceSEI/ReverseTransactionFSRequest"/>
<output message="tns:ReverseTransactionFSResponse" wsam:Action="http://FCUBSRTService.types.ws.gw.fcubs.ofss.com/FCUBSRTServiceSEI/ReverseTransactionFSResponse"/>
</operation>
<operation name="ReopenBranchGroupIO">
<input message="tns:ReopenBranchGroupIO" wsam:Action="http://FCUBSRTService.types.ws.gw.fcubs.ofss.com/FCUBSRTServiceSEI/ReopenBranchGroupIORequest"/>
<output message="tns:ReopenBranchGroupIOResponse" wsam:Action="http://FCUBSRTService.types.ws.gw.fcubs.ofss.com/FCUBSRTServiceSEI/ReopenBranchGroupIOResponse"/>
</operation>
<operation name="QueryBranchGroupIO">
<input message="tns:QueryBranchGroupIO" wsam:Action="http://FCUBSRTService.types.ws.gw.fcubs.ofss.com/FCUBSRTServiceSEI/QueryBranchGroupIORequest"/>
<output message="tns:QueryBranchGroupIOResponse" wsam:Action="http://FCUBSRTService.types.ws.gw.fcubs.ofss.com/FCUBSRTServiceSEI/QueryBranchGroupIOResponse"/>
</operation>
<operation name="CreateTransactionFS">
<input message="tns:CreateTransactionFS" wsam:Action="http://FCUBSRTService.types.ws.gw.fcubs.ofss.com/FCUBSRTServiceSEI/CreateTransactionFSRequest"/>
<output message="tns:CreateTransactionFSResponse" wsam:Action="http://FCUBSRTService.types.ws.gw.fcubs.ofss.com/FCUBSRTServiceSEI/CreateTransactionFSResponse"/>
</operation>
<operation name="QueryTransactionIO">
<input message="tns:QueryTransactionIO" wsam:Action="http://FCUBSRTService.types.ws.gw.fcubs.ofss.com/FCUBSRTServiceSEI/QueryTransactionIORequest"/>
<output message="tns:QueryTransactionIOResponse" wsam:Action="http://FCUBSRTService.types.ws.gw.fcubs.ofss.com/FCUBSRTServiceSEI/QueryTransactionIOResponse"/>
</operation>
<operation name="ReopenBranchGroupFS">
<input message="tns:ReopenBranchGroupFS" wsam:Action="http://FCUBSRTService.types.ws.gw.fcubs.ofss.com/FCUBSRTServiceSEI/ReopenBranchGroupFSRequest"/>
<output message="tns:ReopenBranchGroupFSResponse" wsam:Action="http://FCUBSRTService.types.ws.gw.fcubs.ofss.com/FCUBSRTServiceSEI/ReopenBranchGroupFSResponse"/>
</operation>
<operation name="ReverseTransactionIO">
<input message="tns:ReverseTransactionIO" wsam:Action="http://FCUBSRTService.types.ws.gw.fcubs.ofss.com/FCUBSRTServiceSEI/ReverseTransactionIORequest"/>
<output message="tns:ReverseTransactionIOResponse" wsam:Action="http://FCUBSRTService.types.ws.gw.fcubs.ofss.com/FCUBSRTServiceSEI/ReverseTransactionIOResponse"/>
</operation>
<operation name="ModifyBranchGroupFS">
<input message="tns:ModifyBranchGroupFS" wsam:Action="http://FCUBSRTService.types.ws.gw.fcubs.ofss.com/FCUBSRTServiceSEI/ModifyBranchGroupFSRequest"/>
<output message="tns:ModifyBranchGroupFSResponse" wsam:Action="http://FCUBSRTService.types.ws.gw.fcubs.ofss.com/FCUBSRTServiceSEI/ModifyBranchGroupFSResponse"/>
</operation>
<operation name="AuthorizeBranchGroupFS">
<input message="tns:AuthorizeBranchGroupFS" wsam:Action="http://FCUBSRTService.types.ws.gw.fcubs.ofss.com/FCUBSRTServiceSEI/AuthorizeBranchGroupFSRequest"/>
<output message="tns:AuthorizeBranchGroupFSResponse" wsam:Action="http://FCUBSRTService.types.ws.gw.fcubs.ofss.com/FCUBSRTServiceSEI/AuthorizeBranchGroupFSResponse"/>
</operation>
<operation name="CloseBranchGroupIO">
<input message="tns:CloseBranchGroupIO" wsam:Action="http://FCUBSRTService.types.ws.gw.fcubs.ofss.com/FCUBSRTServiceSEI/CloseBranchGroupIORequest"/>
<output message="tns:CloseBranchGroupIOResponse" wsam:Action="http://FCUBSRTService.types.ws.gw.fcubs.ofss.com/FCUBSRTServiceSEI/CloseBranchGroupIOResponse"/>
</operation>
<operation name="RePrintAccPassbookIO">
<input message="tns:RePrintAccPassbookIO" wsam:Action="http://FCUBSRTService.types.ws.gw.fcubs.ofss.com/FCUBSRTServiceSEI/RePrintAccPassbookIORequest"/>
<output message="tns:RePrintAccPassbookIOResponse" wsam:Action="http://FCUBSRTService.types.ws.gw.fcubs.ofss.com/FCUBSRTServiceSEI/RePrintAccPassbookIOResponse"/>
</operation>
<operation name="CreateTransactionIO">
<input message="tns:CreateTransactionIO" wsam:Action="http://FCUBSRTService.types.ws.gw.fcubs.ofss.com/FCUBSRTServiceSEI/CreateTransactionIORequest"/>
<output message="tns:CreateTransactionIOResponse" wsam:Action="http://FCUBSRTService.types.ws.gw.fcubs.ofss.com/FCUBSRTServiceSEI/CreateTransactionIOResponse"/>
</operation>
<operation name="ModifyBranchGroupIO">
<input message="tns:ModifyBranchGroupIO" wsam:Action="http://FCUBSRTService.types.ws.gw.fcubs.ofss.com/FCUBSRTServiceSEI/ModifyBranchGroupIORequest"/>
<output message="tns:ModifyBranchGroupIOResponse" wsam:Action="http://FCUBSRTService.types.ws.gw.fcubs.ofss.com/FCUBSRTServiceSEI/ModifyBranchGroupIOResponse"/>
</operation>
<operation name="AuthorizeBranchGroupIO">
<input message="tns:AuthorizeBranchGroupIO" wsam:Action="http://FCUBSRTService.types.ws.gw.fcubs.ofss.com/FCUBSRTServiceSEI/AuthorizeBranchGroupIORequest"/>
<output message="tns:AuthorizeBranchGroupIOResponse" wsam:Action="http://FCUBSRTService.types.ws.gw.fcubs.ofss.com/FCUBSRTServiceSEI/AuthorizeBranchGroupIOResponse"/>
</operation>
<operation name="CreateBranchGroupIO">
<input message="tns:CreateBranchGroupIO" wsam:Action="http://FCUBSRTService.types.ws.gw.fcubs.ofss.com/FCUBSRTServiceSEI/CreateBranchGroupIORequest"/>
<output message="tns:CreateBranchGroupIOResponse" wsam:Action="http://FCUBSRTService.types.ws.gw.fcubs.ofss.com/FCUBSRTServiceSEI/CreateBranchGroupIOResponse"/>
</operation>
<operation name="CloseBranchGroupFS">
<input message="tns:CloseBranchGroupFS" wsam:Action="http://FCUBSRTService.types.ws.gw.fcubs.ofss.com/FCUBSRTServiceSEI/CloseBranchGroupFSRequest"/>
<output message="tns:CloseBranchGroupFSResponse" wsam:Action="http://FCUBSRTService.types.ws.gw.fcubs.ofss.com/FCUBSRTServiceSEI/CloseBranchGroupFSResponse"/>
</operation>
<operation name="DeleteBranchGroupIO">
<input message="tns:DeleteBranchGroupIO" wsam:Action="http://FCUBSRTService.types.ws.gw.fcubs.ofss.com/FCUBSRTServiceSEI/DeleteBranchGroupIORequest"/>
<output message="tns:DeleteBranchGroupIOResponse" wsam:Action="http://FCUBSRTService.types.ws.gw.fcubs.ofss.com/FCUBSRTServiceSEI/DeleteBranchGroupIOResponse"/>
</operation>
<operation name="AuthorizeTransactionIO">
<input message="tns:AuthorizeTransactionIO" wsam:Action="http://FCUBSRTService.types.ws.gw.fcubs.ofss.com/FCUBSRTServiceSEI/AuthorizeTransactionIORequest"/>
<output message="tns:AuthorizeTransactionIOResponse" wsam:Action="http://FCUBSRTService.types.ws.gw.fcubs.ofss.com/FCUBSRTServiceSEI/AuthorizeTransactionIOResponse"/>
</operation>
<operation name="CreateAccPassbookIO">
<input message="tns:CreateAccPassbookIO" wsam:Action="http://FCUBSRTService.types.ws.gw.fcubs.ofss.com/FCUBSRTServiceSEI/CreateAccPassbookIORequest"/>
<output message="tns:CreateAccPassbookIOResponse" wsam:Action="http://FCUBSRTService.types.ws.gw.fcubs.ofss.com/FCUBSRTServiceSEI/CreateAccPassbookIOResponse"/>
</operation>
<operation name="QueryRTProductIO">
<input message="tns:QueryRTProductIO" wsam:Action="http://FCUBSRTService.types.ws.gw.fcubs.ofss.com/FCUBSRTServiceSEI/QueryRTProductIORequest"/>
<output message="tns:QueryRTProductIOResponse" wsam:Action="http://FCUBSRTService.types.ws.gw.fcubs.ofss.com/FCUBSRTServiceSEI/QueryRTProductIOResponse"/>
</operation>
<operation name="CreateBranchGroupFS">
<input message="tns:CreateBranchGroupFS" wsam:Action="http://FCUBSRTService.types.ws.gw.fcubs.ofss.com/FCUBSRTServiceSEI/CreateBranchGroupFSRequest"/>
<output message="tns:CreateBranchGroupFSResponse" wsam:Action="http://FCUBSRTService.types.ws.gw.fcubs.ofss.com/FCUBSRTServiceSEI/CreateBranchGroupFSResponse"/>
</operation>
<operation name="DeleteBranchGroupFS">
<input message="tns:DeleteBranchGroupFS" wsam:Action="http://FCUBSRTService.types.ws.gw.fcubs.ofss.com/FCUBSRTServiceSEI/DeleteBranchGroupFSRequest"/>
<output message="tns:DeleteBranchGroupFSResponse" wsam:Action="http://FCUBSRTService.types.ws.gw.fcubs.ofss.com/FCUBSRTServiceSEI/DeleteBranchGroupFSResponse"/>
</operation>
<operation name="UpdateAccPassbookIO">
<input message="tns:UpdateAccPassbookIO" wsam:Action="http://FCUBSRTService.types.ws.gw.fcubs.ofss.com/FCUBSRTServiceSEI/UpdateAccPassbookIORequest"/>
<output message="tns:UpdateAccPassbookIOResponse" wsam:Action="http://FCUBSRTService.types.ws.gw.fcubs.ofss.com/FCUBSRTServiceSEI/UpdateAccPassbookIOResponse"/>
</operation>
</portType>
<binding name="FCUBSRTServiceSEIBinding" type="tns:FCUBSRTServiceSEI">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<operation name="AuthorizeTransactionFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReverseTransactionFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReopenBranchGroupIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="QueryBranchGroupIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateTransactionFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="QueryTransactionIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReopenBranchGroupFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReverseTransactionIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModifyBranchGroupFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AuthorizeBranchGroupFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CloseBranchGroupIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RePrintAccPassbookIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateTransactionIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModifyBranchGroupIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AuthorizeBranchGroupIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateBranchGroupIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CloseBranchGroupFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteBranchGroupIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AuthorizeTransactionIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateAccPassbookIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="QueryRTProductIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateBranchGroupFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteBranchGroupFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="UpdateAccPassbookIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="FCUBSRTService">
<port binding="tns:FCUBSRTServiceSEIBinding" name="FCUBSRTServiceSEI">
<soap:address location="http://172.30.1.29:7005/FCUBSRTService/FCUBSRTService"/>
</port>
</service>
</definitions>