DashenBank_FundTransfer(NBE)_App/FundTransferNBE.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" name="FCUBSCGService" targetNamespace="http://FCUBSCGService.types.ws.gw.fcubs.ofss.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://FCUBSCGService.types.ws.gw.fcubs.ofss.com" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <documentation>
    <appinfo source="WMQI_APPINFO">
      <MRWSDLAppInfo imported="true">
        <binding hasEncoding="false" imported="true" name="FCUBSCGServiceSEIBinding" originalBindingStyle="document"/>
      </MRWSDLAppInfo>
    </appinfo>
  </documentation>
<types>
<xsd:schema>
<xsd:import namespace="http://fcubs.ofss.com/service/FCUBSCGService" schemaLocation="RemoteFiles/xsd_1.xsd"/>
</xsd:schema>
</types>
<message name="AuthorizeTransactionFS">
<part element="ns1:AUTHORIZETRANSACTION_FSFS_REQ" name="RequestMsg" xmlns:ns1="http://fcubs.ofss.com/service/FCUBSCGService"/>
</message>
<message name="AuthorizeTransactionFSResponse">
<part element="ns2:AUTHORIZETRANSACTION_FSFS_RES" name="ResponseMsg" xmlns:ns2="http://fcubs.ofss.com/service/FCUBSCGService"/>
</message>
<message name="ReverseTransactionFS">
<part element="ns3:REVERSETRANSACTION_FSFS_REQ" name="RequestMsg" xmlns:ns3="http://fcubs.ofss.com/service/FCUBSCGService"/>
</message>
<message name="ReverseTransactionFSResponse">
<part element="ns4:REVERSETRANSACTION_FSFS_RES" name="ResponseMsg" xmlns:ns4="http://fcubs.ofss.com/service/FCUBSCGService"/>
</message>
<message name="CreateClearingRejectIO">
<part element="ns5:CREATECLEARINGREJECT_IOPK_REQ" name="RequestMsg" xmlns:ns5="http://fcubs.ofss.com/service/FCUBSCGService"/>
</message>
<message name="CreateClearingRejectIOResponse">
<part element="ns6:CREATECLEARINGREJECT_IOPK_RES" name="ResponseMsg" xmlns:ns6="http://fcubs.ofss.com/service/FCUBSCGService"/>
</message>
<message name="QueryCcyClgHolidayIO">
<part element="ns7:QUERYCCYCLGHOLIDAY_IOFS_REQ" name="RequestMsg" xmlns:ns7="http://fcubs.ofss.com/service/FCUBSCGService"/>
</message>
<message name="QueryCcyClgHolidayIOResponse">
<part element="ns8:QUERYCCYCLGHOLIDAY_IOFS_RES" name="ResponseMsg" xmlns:ns8="http://fcubs.ofss.com/service/FCUBSCGService"/>
</message>
<message name="CreateClearingRejectFS">
<part element="ns9:CREATECLEARINGREJECT_FSFS_REQ" name="RequestMsg" xmlns:ns9="http://fcubs.ofss.com/service/FCUBSCGService"/>
</message>
<message name="CreateClearingRejectFSResponse">
<part element="ns10:CREATECLEARINGREJECT_FSFS_RES" name="ResponseMsg" xmlns:ns10="http://fcubs.ofss.com/service/FCUBSCGService"/>
</message>
<message name="CreateTransactionFS">
<part element="ns11:CREATETRANSACTION_FSFS_REQ" name="RequestMsg" xmlns:ns11="http://fcubs.ofss.com/service/FCUBSCGService"/>
</message>
<message name="CreateTransactionFSResponse">
<part element="ns12:CREATETRANSACTION_FSFS_RES" name="ResponseMsg" xmlns:ns12="http://fcubs.ofss.com/service/FCUBSCGService"/>
</message>
<message name="QueryTransactionIO">
<part element="ns13:QUERYTRANSACTION_IOFS_REQ" name="RequestMsg" xmlns:ns13="http://fcubs.ofss.com/service/FCUBSCGService"/>
</message>
<message name="QueryTransactionIOResponse">
<part element="ns14:QUERYTRANSACTION_IOFS_RES" name="ResponseMsg" xmlns:ns14="http://fcubs.ofss.com/service/FCUBSCGService"/>
</message>
<message name="CreateStopPaymentFS">
<part element="ns15:CREATESTOPPAYMENT_FSFS_REQ" name="RequestMsg" xmlns:ns15="http://fcubs.ofss.com/service/FCUBSCGService"/>
</message>
<message name="CreateStopPaymentFSResponse">
<part element="ns16:CREATESTOPPAYMENT_FSFS_RES" name="ResponseMsg" xmlns:ns16="http://fcubs.ofss.com/service/FCUBSCGService"/>
</message>
<message name="ReverseTransactionIO">
<part element="ns17:REVERSETRANSACTION_IOPK_REQ" name="RequestMsg" xmlns:ns17="http://fcubs.ofss.com/service/FCUBSCGService"/>
</message>
<message name="ReverseTransactionIOResponse">
<part element="ns18:REVERSETRANSACTION_IOPK_RES" name="ResponseMsg" xmlns:ns18="http://fcubs.ofss.com/service/FCUBSCGService"/>
</message>
<message name="QueryClearingRejectIO">
<part element="ns19:QUERYCLEARINGREJECT_IOFS_REQ" name="RequestMsg" xmlns:ns19="http://fcubs.ofss.com/service/FCUBSCGService"/>
</message>
<message name="QueryClearingRejectIOResponse">
<part element="ns20:QUERYCLEARINGREJECT_IOFS_RES" name="ResponseMsg" xmlns:ns20="http://fcubs.ofss.com/service/FCUBSCGService"/>
</message>
<message name="QueryStopPaymentIO">
<part element="ns21:QUERYSTOPPAYMENT_IOFS_REQ" name="RequestMsg" xmlns:ns21="http://fcubs.ofss.com/service/FCUBSCGService"/>
</message>
<message name="QueryStopPaymentIOResponse">
<part element="ns22:QUERYSTOPPAYMENT_IOFS_RES" name="ResponseMsg" xmlns:ns22="http://fcubs.ofss.com/service/FCUBSCGService"/>
</message>
<message name="CreateTransactionIO">
<part element="ns23:CREATETRANSACTION_IOPK_REQ" name="RequestMsg" xmlns:ns23="http://fcubs.ofss.com/service/FCUBSCGService"/>
</message>
<message name="CreateTransactionIOResponse">
<part element="ns24:CREATETRANSACTION_IOPK_RES" name="ResponseMsg" xmlns:ns24="http://fcubs.ofss.com/service/FCUBSCGService"/>
</message>
<message name="AuthorizeClearingRejectFS">
<part element="ns25:AUTHORIZECLEARINGREJECT_FSFS_REQ" name="RequestMsg" xmlns:ns25="http://fcubs.ofss.com/service/FCUBSCGService"/>
</message>
<message name="AuthorizeClearingRejectFSResponse">
<part element="ns26:AUTHORIZECLEARINGREJECT_FSFS_RES" name="ResponseMsg" xmlns:ns26="http://fcubs.ofss.com/service/FCUBSCGService"/>
</message>
<message name="CreateStopPaymentIO">
<part element="ns27:CREATESTOPPAYMENT_IOPK_REQ" name="RequestMsg" xmlns:ns27="http://fcubs.ofss.com/service/FCUBSCGService"/>
</message>
<message name="CreateStopPaymentIOResponse">
<part element="ns28:CREATESTOPPAYMENT_IOPK_RES" name="ResponseMsg" xmlns:ns28="http://fcubs.ofss.com/service/FCUBSCGService"/>
</message>
<message name="AuthorizeStopPaymentFS">
<part element="ns29:AUTHORIZESTOPPAYMENT_FSFS_REQ" name="RequestMsg" xmlns:ns29="http://fcubs.ofss.com/service/FCUBSCGService"/>
</message>
<message name="AuthorizeStopPaymentFSResponse">
<part element="ns30:AUTHORIZESTOPPAYMENT_FSFS_RES" name="ResponseMsg" xmlns:ns30="http://fcubs.ofss.com/service/FCUBSCGService"/>
</message>
<message name="AuthorizeClearingRejectIO">
<part element="ns31:AUTHORIZECLEARINGREJECT_IOPK_REQ" name="RequestMsg" xmlns:ns31="http://fcubs.ofss.com/service/FCUBSCGService"/>
</message>
<message name="AuthorizeClearingRejectIOResponse">
<part element="ns32:AUTHORIZECLEARINGREJECT_IOPK_RES" name="ResponseMsg" xmlns:ns32="http://fcubs.ofss.com/service/FCUBSCGService"/>
</message>
<message name="AuthorizeTransactionIO">
<part element="ns33:AUTHORIZETRANSACTION_IOPK_REQ" name="RequestMsg" xmlns:ns33="http://fcubs.ofss.com/service/FCUBSCGService"/>
</message>
<message name="AuthorizeTransactionIOResponse">
<part element="ns34:AUTHORIZETRANSACTION_IOPK_RES" name="ResponseMsg" xmlns:ns34="http://fcubs.ofss.com/service/FCUBSCGService"/>
</message>
<message name="AuthorizeStopPaymentIO">
<part element="ns35:AUTHORIZESTOPPAYMENT_IOPK_REQ" name="RequestMsg" xmlns:ns35="http://fcubs.ofss.com/service/FCUBSCGService"/>
</message>
<message name="AuthorizeStopPaymentIOResponse">
<part element="ns36:AUTHORIZESTOPPAYMENT_IOPK_RES" name="ResponseMsg" xmlns:ns36="http://fcubs.ofss.com/service/FCUBSCGService"/>
</message>
<portType name="FCUBSCGServiceSEI">
<operation name="AuthorizeTransactionFS">
<input message="tns:AuthorizeTransactionFS" wsam:Action="http://FCUBSCGService.types.ws.gw.fcubs.ofss.com/FCUBSCGServiceSEI/AuthorizeTransactionFSRequest"/>
<output message="tns:AuthorizeTransactionFSResponse" wsam:Action="http://FCUBSCGService.types.ws.gw.fcubs.ofss.com/FCUBSCGServiceSEI/AuthorizeTransactionFSResponse"/>
</operation>
<operation name="ReverseTransactionFS">
<input message="tns:ReverseTransactionFS" wsam:Action="http://FCUBSCGService.types.ws.gw.fcubs.ofss.com/FCUBSCGServiceSEI/ReverseTransactionFSRequest"/>
<output message="tns:ReverseTransactionFSResponse" wsam:Action="http://FCUBSCGService.types.ws.gw.fcubs.ofss.com/FCUBSCGServiceSEI/ReverseTransactionFSResponse"/>
</operation>
<operation name="CreateClearingRejectIO">
<input message="tns:CreateClearingRejectIO" wsam:Action="http://FCUBSCGService.types.ws.gw.fcubs.ofss.com/FCUBSCGServiceSEI/CreateClearingRejectIORequest"/>
<output message="tns:CreateClearingRejectIOResponse" wsam:Action="http://FCUBSCGService.types.ws.gw.fcubs.ofss.com/FCUBSCGServiceSEI/CreateClearingRejectIOResponse"/>
</operation>
<operation name="QueryCcyClgHolidayIO">
<input message="tns:QueryCcyClgHolidayIO" wsam:Action="http://FCUBSCGService.types.ws.gw.fcubs.ofss.com/FCUBSCGServiceSEI/QueryCcyClgHolidayIORequest"/>
<output message="tns:QueryCcyClgHolidayIOResponse" wsam:Action="http://FCUBSCGService.types.ws.gw.fcubs.ofss.com/FCUBSCGServiceSEI/QueryCcyClgHolidayIOResponse"/>
</operation>
<operation name="CreateClearingRejectFS">
<input message="tns:CreateClearingRejectFS" wsam:Action="http://FCUBSCGService.types.ws.gw.fcubs.ofss.com/FCUBSCGServiceSEI/CreateClearingRejectFSRequest"/>
<output message="tns:CreateClearingRejectFSResponse" wsam:Action="http://FCUBSCGService.types.ws.gw.fcubs.ofss.com/FCUBSCGServiceSEI/CreateClearingRejectFSResponse"/>
</operation>
<operation name="CreateTransactionFS">
<input message="tns:CreateTransactionFS" wsam:Action="http://FCUBSCGService.types.ws.gw.fcubs.ofss.com/FCUBSCGServiceSEI/CreateTransactionFSRequest"/>
<output message="tns:CreateTransactionFSResponse" wsam:Action="http://FCUBSCGService.types.ws.gw.fcubs.ofss.com/FCUBSCGServiceSEI/CreateTransactionFSResponse"/>
</operation>
<operation name="QueryTransactionIO">
<input message="tns:QueryTransactionIO" wsam:Action="http://FCUBSCGService.types.ws.gw.fcubs.ofss.com/FCUBSCGServiceSEI/QueryTransactionIORequest"/>
<output message="tns:QueryTransactionIOResponse" wsam:Action="http://FCUBSCGService.types.ws.gw.fcubs.ofss.com/FCUBSCGServiceSEI/QueryTransactionIOResponse"/>
</operation>
<operation name="CreateStopPaymentFS">
<input message="tns:CreateStopPaymentFS" wsam:Action="http://FCUBSCGService.types.ws.gw.fcubs.ofss.com/FCUBSCGServiceSEI/CreateStopPaymentFSRequest"/>
<output message="tns:CreateStopPaymentFSResponse" wsam:Action="http://FCUBSCGService.types.ws.gw.fcubs.ofss.com/FCUBSCGServiceSEI/CreateStopPaymentFSResponse"/>
</operation>
<operation name="ReverseTransactionIO">
<input message="tns:ReverseTransactionIO" wsam:Action="http://FCUBSCGService.types.ws.gw.fcubs.ofss.com/FCUBSCGServiceSEI/ReverseTransactionIORequest"/>
<output message="tns:ReverseTransactionIOResponse" wsam:Action="http://FCUBSCGService.types.ws.gw.fcubs.ofss.com/FCUBSCGServiceSEI/ReverseTransactionIOResponse"/>
</operation>
<operation name="QueryClearingRejectIO">
<input message="tns:QueryClearingRejectIO" wsam:Action="http://FCUBSCGService.types.ws.gw.fcubs.ofss.com/FCUBSCGServiceSEI/QueryClearingRejectIORequest"/>
<output message="tns:QueryClearingRejectIOResponse" wsam:Action="http://FCUBSCGService.types.ws.gw.fcubs.ofss.com/FCUBSCGServiceSEI/QueryClearingRejectIOResponse"/>
</operation>
<operation name="QueryStopPaymentIO">
<input message="tns:QueryStopPaymentIO" wsam:Action="http://FCUBSCGService.types.ws.gw.fcubs.ofss.com/FCUBSCGServiceSEI/QueryStopPaymentIORequest"/>
<output message="tns:QueryStopPaymentIOResponse" wsam:Action="http://FCUBSCGService.types.ws.gw.fcubs.ofss.com/FCUBSCGServiceSEI/QueryStopPaymentIOResponse"/>
</operation>
<operation name="CreateTransactionIO">
<input message="tns:CreateTransactionIO" wsam:Action="http://FCUBSCGService.types.ws.gw.fcubs.ofss.com/FCUBSCGServiceSEI/CreateTransactionIORequest"/>
<output message="tns:CreateTransactionIOResponse" wsam:Action="http://FCUBSCGService.types.ws.gw.fcubs.ofss.com/FCUBSCGServiceSEI/CreateTransactionIOResponse"/>
</operation>
<operation name="AuthorizeClearingRejectFS">
<input message="tns:AuthorizeClearingRejectFS" wsam:Action="http://FCUBSCGService.types.ws.gw.fcubs.ofss.com/FCUBSCGServiceSEI/AuthorizeClearingRejectFSRequest"/>
<output message="tns:AuthorizeClearingRejectFSResponse" wsam:Action="http://FCUBSCGService.types.ws.gw.fcubs.ofss.com/FCUBSCGServiceSEI/AuthorizeClearingRejectFSResponse"/>
</operation>
<operation name="CreateStopPaymentIO">
<input message="tns:CreateStopPaymentIO" wsam:Action="http://FCUBSCGService.types.ws.gw.fcubs.ofss.com/FCUBSCGServiceSEI/CreateStopPaymentIORequest"/>
<output message="tns:CreateStopPaymentIOResponse" wsam:Action="http://FCUBSCGService.types.ws.gw.fcubs.ofss.com/FCUBSCGServiceSEI/CreateStopPaymentIOResponse"/>
</operation>
<operation name="AuthorizeStopPaymentFS">
<input message="tns:AuthorizeStopPaymentFS" wsam:Action="http://FCUBSCGService.types.ws.gw.fcubs.ofss.com/FCUBSCGServiceSEI/AuthorizeStopPaymentFSRequest"/>
<output message="tns:AuthorizeStopPaymentFSResponse" wsam:Action="http://FCUBSCGService.types.ws.gw.fcubs.ofss.com/FCUBSCGServiceSEI/AuthorizeStopPaymentFSResponse"/>
</operation>
<operation name="AuthorizeClearingRejectIO">
<input message="tns:AuthorizeClearingRejectIO" wsam:Action="http://FCUBSCGService.types.ws.gw.fcubs.ofss.com/FCUBSCGServiceSEI/AuthorizeClearingRejectIORequest"/>
<output message="tns:AuthorizeClearingRejectIOResponse" wsam:Action="http://FCUBSCGService.types.ws.gw.fcubs.ofss.com/FCUBSCGServiceSEI/AuthorizeClearingRejectIOResponse"/>
</operation>
<operation name="AuthorizeTransactionIO">
<input message="tns:AuthorizeTransactionIO" wsam:Action="http://FCUBSCGService.types.ws.gw.fcubs.ofss.com/FCUBSCGServiceSEI/AuthorizeTransactionIORequest"/>
<output message="tns:AuthorizeTransactionIOResponse" wsam:Action="http://FCUBSCGService.types.ws.gw.fcubs.ofss.com/FCUBSCGServiceSEI/AuthorizeTransactionIOResponse"/>
</operation>
<operation name="AuthorizeStopPaymentIO">
<input message="tns:AuthorizeStopPaymentIO" wsam:Action="http://FCUBSCGService.types.ws.gw.fcubs.ofss.com/FCUBSCGServiceSEI/AuthorizeStopPaymentIORequest"/>
<output message="tns:AuthorizeStopPaymentIOResponse" wsam:Action="http://FCUBSCGService.types.ws.gw.fcubs.ofss.com/FCUBSCGServiceSEI/AuthorizeStopPaymentIOResponse"/>
</operation>
</portType>
<binding name="FCUBSCGServiceSEIBinding" type="tns:FCUBSCGServiceSEI">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<operation name="AuthorizeTransactionFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReverseTransactionFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateClearingRejectIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="QueryCcyClgHolidayIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateClearingRejectFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateTransactionFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="QueryTransactionIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateStopPaymentFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReverseTransactionIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="QueryClearingRejectIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="QueryStopPaymentIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateTransactionIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AuthorizeClearingRejectFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateStopPaymentIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AuthorizeStopPaymentFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AuthorizeClearingRejectIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AuthorizeTransactionIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AuthorizeStopPaymentIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="FCUBSCGService">
<port binding="tns:FCUBSCGServiceSEIBinding" name="FCUBSCGServiceSEI">
<soap:address location="http://172.30.1.29:7005/FCUBSCGService/FCUBSCGService"/>
</port>
</service>
</definitions>