DashenBank_ContentShelf_App/ContentShelf_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/ContentShelf/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/ContentShelf/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <xsd:element ibmSchExtn:docRoot="true" name="ContentShelf">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="providerID" type="xsd:string"/>
          	<xsd:element name="appcode" type="xsd:string"/>
          	<xsd:element name="apppassphrase" type="xsd:string"/>
          	<xsd:element name="token" type="xsd:string"/>
          	<xsd:element name="licenseNumber" type="xsd:string"/>
          	<xsd:element name="ReceiptNo" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="ContentShelfResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ContentShelfResult" type="tns:ContentShelfResult"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    
      <xsd:complexType name="ContentShelfResult">
      	<xsd:sequence>
      		<xsd:element name="ContentShelfResponse" type="tns:ContentShelfResponse">
      		</xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="ContentShelfResponse">
      	<xsd:sequence>
      		<xsd:element name="UtilAPIVoidPaymentResponse" type="tns:UtilAPIVoidPaymentResponse">
      		</xsd:element>
      		<xsd:element name="Successful" type="xsd:boolean"/>
      		<xsd:element name="Remarks" type="xsd:string"/>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="UtilAPIVoidPaymentResponse">
      	<xsd:sequence>
      		<xsd:element name="IsSaved" type="xsd:boolean"/>
      		<xsd:element name="ErrorMessage" type="xsd:string"/>
      		<xsd:element name="ErrorCode" type="xsd:int"/>
      	</xsd:sequence>
      </xsd:complexType>
    </xsd:schema>