DashenBank_FreezAmount_App/BlockingAmount_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/BlockingAmount/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/BlockingAmount/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <xsd:element ibmSchExtn:docRoot="true" name="BlockAmuont_Service">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="BlockAmuont_HEADER" type="tns:BlockAmuont_HEADERType"/>
          	<xsd:element name="BlockAmuont_BODY" type="tns:BlockAmuont_BODYType">
          	</xsd:element>
          	
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="BlockAmuont_ServiceResponse">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="BlockAmuont_HEADER" type="tns:BlockAmuont_HEADERResponce"/>
          	<xsd:element name="BlockAmuont_BODY" type="tns:BlockAmuontResponce">
          	</xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    
      <xsd:complexType name="BlockAmuont_HEADERType">
      	<xsd:sequence>
      		<xsd:element name="SOURCE" type="xsd:string"/>
      		<xsd:element name="UBSCOMP" type="xsd:string"/>
      		<xsd:element name="USERID" type="xsd:string"/>
      		<xsd:element name="BRANCH" type="xsd:string"/>
      		<xsd:element name="SERVICE" type="xsd:string"/>
      		<xsd:element name="OPERATION" type="xsd:string"/>
      		<xsd:element name="MSGSTAT" type="xsd:string"/>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="BlockAmuont_BODYType">
      	<xsd:sequence>
      		<xsd:element name="Amount-Blocks-Full" type="tns:Amount-Blocks-FullType">
      		</xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="Amount-Blocks-FullType">
      	<xsd:sequence>
      		<xsd:element name="ACC" type="xsd:string"/>
      		<xsd:element name="AMTBLKNO" type="xsd:string"/>
      		<xsd:element name="AMT" type="xsd:string"/>
      		<xsd:element name="ABLKTYPE" type="xsd:string"/>
      		<xsd:element name="HOLDDESC" type="xsd:string"/>
      		<xsd:element name="BRANCH" type="xsd:string"/>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="BlockAmuont_HEADERResponce">
      	<xsd:sequence>
      		<xsd:element name="SOURCE" type="xsd:string"/>
      		<xsd:element name="UBSCOMP" type="xsd:string"/>
      		<xsd:element name="MSGID" type="xsd:string"/>
      		<xsd:element name="CORRELID" type="xsd:string"/>
      		<xsd:element name="USERID" type="xsd:string"/>
      		<xsd:element name="ENTITY" type="xsd:string"/>
      		<xsd:element name="BRANCH" type="xsd:string"/>
      		<xsd:element name="SERVICE" type="xsd:string"/>
      		<xsd:element name="OPERATION" type="xsd:string"/>
      		<xsd:element name="DESTINATION" type="xsd:string"/>
      		<xsd:element name="FUNCTIONID" type="xsd:string"/>
      		<xsd:element name="ACTION" type="xsd:string"/>
      		<xsd:element name="MSGSTAT" type="xsd:string"/>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="BlockAmuontResponce">
      	<xsd:sequence>
      		<xsd:element name="Amount-Blocks-Full" type="tns:Amount-Blocks-Full">
      		</xsd:element>
      		<xsd:element name="BlockAmuont_WARNING_RESP" type="tns:BlockAmuont_WARNING_RESP">
      		</xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="Amount-Blocks-Full">
      	<xsd:sequence>
      		<xsd:element name="ACC" type="xsd:string"/>
      		<xsd:element name="AMTBLKNO" type="xsd:string"/>
      		<xsd:element name="AMT" type="xsd:string"/>
      		<xsd:element name="ABLKTYPE" type="xsd:string"/>
      		<xsd:element name="EFFDATE" type="xsd:string"/>
      		<xsd:element name="BRANCH" type="xsd:string"/>
      		<xsd:element name="VERIFY_AVL_BAL" type="xsd:string"/>
      		<xsd:element name="SOURCE_CODE" type="xsd:string"/>
      		<xsd:element name="MAKER" type="xsd:string"/>
      		<xsd:element name="MAKERSTAMP" type="xsd:string"/>
      		<xsd:element name="CHECKER" type="xsd:string"/>
      		<xsd:element name="CHECKERSTAMP" type="xsd:string"/>
      		<xsd:element name="MODNO" type="xsd:string"/>
      		<xsd:element name="TXNSTAT" type="xsd:string"/>
      		<xsd:element name="AUTHSTAT" type="xsd:string"/>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="BlockAmuont_WARNING_RESP">
      	<xsd:sequence>
      		<xsd:element name="WARNING" type="tns:WARNING"/>

      		<xsd:element name="WARNING" type="tns:WARNING"/>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="WARNING">
      	<xsd:sequence>
      		<xsd:element name="WCODE" type="xsd:string"/>
      		<xsd:element name="WDESC" type="xsd:string"/>
      	</xsd:sequence>
      </xsd:complexType>
    </xsd:schema>