DashenBank_MakePayment_App/MakePayment_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.MakePayment.org/MakePayment/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.MakePayment.org/MakePayment/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <xsd:element ibmSchExtn:docRoot="true" name="MakePayment">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="billID" type="xsd:string"/>
          	<xsd:element name="billerID" type="xsd:string"/>
          	<xsd:element name="appcode" type="xsd:string"/>
          	<xsd:element name="apppassphrase" type="xsd:string"/>
          	<xsd:element name="amount" type="xsd:double"/>
          	<xsd:element name="debitaccount" type="xsd:string"/>
          	<xsd:element name="phonenumber" type="xsd:string"/>
          	<xsd:element name="idnumber" type="xsd:string"/>
          	<xsd:element name="email" type="xsd:string"/>
          	<xsd:element name="remarks" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="MakePaymentResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="MakePaymentResponse" type="tns:MakePaymentResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    
      <xsd:complexType name="MakePaymentResponse">
      	<xsd:sequence>
      		<xsd:element name="UtilAPIMakePaymentResponse" type="tns:UtilAPIMakePaymentResponse">
      		</xsd:element>
      		<xsd:element name="Successful" type="xsd:boolean"/>
      		<xsd:element name="Remarks" type="xsd:string"/>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="UtilAPIMakePaymentResponse">
      	<xsd:sequence>
      		<xsd:element name="reference_number" type="xsd:string"/>
      	</xsd:sequence>
      </xsd:complexType>
    </xsd:schema>