DashenBank_Fundstransfer_App/RemoteFiles/xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. --><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://fcubs.ofss.com/service/FCUBSCGService" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:ns0="http://fcubs.ofss.com/service/FCUBSCGService">
  <xsd:complexType name="Stdcchol-Modify-IO-Type">
    <xsd:sequence>
      <xsd:element name="YR" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="CCCY" type="xsd:string"/>
      <xsd:element minOccurs="0" name="MODNO" type="xsd:integer"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="CCY_Holiday_List">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="ccy1" type="xsd:string"/>
            <xsd:element minOccurs="0" name="yer" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="mont" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="hol_lst" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="UDFDETAILS" type="ns0:UDFDETAILSType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Stdcchol-IO-Type">
    <xsd:sequence>
      <xsd:element name="YR" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="WKLY_HOL" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CCCY" type="xsd:string"/>
      <xsd:element minOccurs="0" name="MAKERID" type="xsd:string"/>
      <xsd:element minOccurs="0" name="MAKERDTSTAMP" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CHECKERID" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CHECKERDTSTAMP" type="xsd:string"/>
      <xsd:element minOccurs="0" name="MODNO" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="AUTHSTAT" type="xsd:string"/>
      <xsd:element minOccurs="0" name="RECSTAT" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ONCEAUTH" type="xsd:string"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="CCY_Holiday_List">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="ccy1" type="xsd:string"/>
            <xsd:element minOccurs="0" name="yer" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="mont" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="hol_lst" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="UDFDETAILS" type="ns0:UDFDETAILSType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Stdcchol-Full-Type">
    <xsd:sequence>
      <xsd:element name="YR" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="WKLY_HOL" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CCCY" type="xsd:string"/>
      <xsd:element minOccurs="0" name="MAKERID" type="xsd:string"/>
      <xsd:element minOccurs="0" name="MAKERDTSTAMP" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CHECKERID" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CHECKERDTSTAMP" type="xsd:string"/>
      <xsd:element minOccurs="0" name="MODNO" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="AUTHSTAT" type="xsd:string"/>
      <xsd:element minOccurs="0" name="RECSTAT" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ONCEAUTH" type="xsd:string"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="CCY_Holiday_List">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="ccy1" type="xsd:string"/>
            <xsd:element minOccurs="0" name="yer" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="mont" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="hol_lst" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="UDFDETAILS" type="ns0:UDFDETAILSType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ClearingTxn-PK-Type">
    <xsd:sequence>
      <xsd:element name="XREF" type="xsd:string"/>
      <xsd:element name="Clearing-Details">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="FCCREF" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ClearingTxn-IO-Type">
    <xsd:sequence>
      <xsd:element name="XREF" type="xsd:string"/>
      <xsd:element minOccurs="0" name="SCODE" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CONSOLIDATED" type="ns0:YesNoType"/>
      <xsd:element maxOccurs="unbounded" name="Clearing-Details">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="PRODUCT" type="xsd:string"/>
            <xsd:element minOccurs="0" name="REMACCOUNT" type="xsd:string"/>
            <xsd:element name="INSTRNO" type="xsd:string"/>
            <xsd:element name="INSTRCCY" type="xsd:string"/>
            <xsd:element name="INSTRAMT" type="xsd:decimal"/>
            <xsd:element name="INSTRTYPE" type="xsd:string"/>
            <xsd:element name="INSTRDATE" type="xsd:anySimpleType"/>
            <xsd:element name="CHEQUEISSUEDATE" type="xsd:anySimpleType"/>
            <xsd:element name="TXNDATE" type="xsd:anySimpleType"/>
            <xsd:element minOccurs="0" name="VALDATE" type="xsd:anySimpleType"/>
            <xsd:element minOccurs="0" name="LATECLG" type="ns0:YesNoType"/>
            <xsd:element name="ROUTINGNO" type="xsd:string"/>
            <xsd:element minOccurs="0" name="SERIALNO" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ENTRYNO" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="REGCC" type="ns0:YesNoType"/>
            <xsd:element minOccurs="0" name="SPLCHQ" type="ns0:YesNoType"/>
            <xsd:element name="TXNBRN" type="xsd:string"/>
            <xsd:element minOccurs="0" name="BENACCOUNT" type="xsd:string"/>
            <xsd:element minOccurs="0" name="TXNCCY" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CR_CARD_NO" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CC_HOLDER_NAME" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ENDPOINT" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ACCCY" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ACCCYAMT" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="BENCUSTID" type="xsd:string"/>
            <xsd:element minOccurs="0" name="DIRECTION" type="ns0:DirectionType"/>
            <xsd:element minOccurs="0" name="REMBRANCH" type="xsd:string"/>
            <xsd:element minOccurs="0" name="REMDET1" type="xsd:string"/>
            <xsd:element minOccurs="0" name="REMDET2" type="xsd:string"/>
            <xsd:element minOccurs="0" name="REMDET3" type="xsd:string"/>
            <xsd:element minOccurs="0" name="BENDET1" type="xsd:string"/>
            <xsd:element minOccurs="0" name="BENDET2" type="xsd:string"/>
            <xsd:element minOccurs="0" name="BENDET3" type="xsd:string"/>
            <xsd:element minOccurs="0" name="DIN" type="xsd:string"/>
            <xsd:element minOccurs="0" name="DINDATE" type="xsd:anySimpleType"/>
            <xsd:element minOccurs="0" name="CUSTDATE" type="xsd:anySimpleType"/>
            <xsd:element minOccurs="0" name="REMARKS" type="xsd:string"/>
            <xsd:element minOccurs="0" name="XRATE" type="xsd:decimal"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="Mis-Details" type="ns0:MISDETAILSType"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Udf-Details" type="ns0:UDFDETAILSType"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Charge-Details" type="ns0:ChgdetsType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FCUBS_HEADERType">
    <xsd:sequence>
      <xsd:element name="SOURCE" type="xsd:string"/>
      <xsd:element name="UBSCOMP" type="ns0:UBSCOMPType"/>
      <xsd:element minOccurs="0" name="MSGID" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CORRELID" type="xsd:string"/>
      <xsd:element name="USERID" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ENTITY" type="xsd:string"/>
      <xsd:element name="BRANCH" type="xsd:string"/>
      <xsd:element minOccurs="0" name="MODULEID" type="xsd:string"/>
      <xsd:element name="SERVICE" type="xsd:string"/>
      <xsd:element name="OPERATION" type="xsd:string"/>
      <xsd:element minOccurs="0" name="SOURCE_OPERATION" type="xsd:string"/>
      <xsd:element minOccurs="0" name="SOURCE_USERID" type="xsd:string"/>
      <xsd:element minOccurs="0" name="DESTINATION" type="xsd:string"/>
      <xsd:element minOccurs="0" name="MULTITRIPID" type="xsd:string"/>
      <xsd:element minOccurs="0" name="FUNCTIONID" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ACTION" type="xsd:string"/>
      <xsd:element minOccurs="0" name="MSGSTAT" type="ns0:MsgStatType"/>
      <xsd:element minOccurs="0" name="SNAPSHOTID" type="xsd:string"/>
      <xsd:element minOccurs="0" name="PASSWORD" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ADDL">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="PARAM">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="NAME" type="xsd:string"/>
                  <xsd:element name="VALUE" type="xsd:string"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ChgdetsType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="CHGCOMP" type="xsd:string"/>
      <xsd:element minOccurs="0" name="WAIVER" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CHGAMT" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="CHGCCY" type="xsd:string"/>
      <xsd:element minOccurs="0" name="MISHEAD" type="xsd:string"/>
      <xsd:element minOccurs="0" name="TXNCODE" type="xsd:string"/>
      <xsd:element minOccurs="0" name="NETTINGIND" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CHGGL" type="xsd:string"/>
      <xsd:element minOccurs="0" name="TYPE" type="xsd:string"/>
      <xsd:element minOccurs="0" name="LCYCHG" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="XRATE" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="TCYCHG" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="TCYXRATE" type="xsd:decimal"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MckDetsType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="SRNO" type="xsd:string"/>
      <xsd:element minOccurs="0" name="PAYBRN" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CHQNO" type="xsd:string"/>
      <xsd:element minOccurs="0" name="STAT" type="xsd:string"/>
      <xsd:element name="EXPDT" type="xsd:anySimpleType"/>
      <xsd:element minOccurs="0" name="BENFNAME" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BENFADDR1" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BENFADDR2" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BENFADDR3" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BENFADDR4" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CRNO" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ISB" type="xsd:string"/>
      <xsd:element minOccurs="0" name="OTHERDETLS1" type="xsd:string"/>
      <xsd:element minOccurs="0" name="OTHERDETLSTYPE1" type="xsd:string"/>
      <xsd:element minOccurs="0" name="OTHERDETLS2" type="xsd:string"/>
      <xsd:element minOccurs="0" name="OTHERDETLSTYPE2" type="xsd:string"/>
      <xsd:element minOccurs="0" name="OTHERDETLS3" type="xsd:string"/>
      <xsd:element minOccurs="0" name="OTHERDETLSTYPE3" type="xsd:string"/>
      <xsd:element minOccurs="0" name="OTHERDETLS4" type="xsd:string"/>
      <xsd:element minOccurs="0" name="OTHERDETLSTYPE4" type="xsd:string"/>
      <xsd:element minOccurs="0" name="OTHERDETLS5" type="xsd:string"/>
      <xsd:element minOccurs="0" name="OTHERDETLSTYPE5" type="xsd:string"/>
      <xsd:element minOccurs="0" name="OTHERDETLS6" type="xsd:string"/>
      <xsd:element minOccurs="0" name="OTHERDETLSTYPE6" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MsgDetsType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="TYPE" type="xsd:string"/>
      <xsd:element minOccurs="0" name="OPERCD" type="xsd:string"/>
      <xsd:element minOccurs="0" name="INSTRCD" type="xsd:string"/>
      <xsd:element minOccurs="0" name="TXNCD" type="xsd:string"/>
      <xsd:element name="VDATECR" type="xsd:anySimpleType"/>
      <xsd:element minOccurs="0" name="ORDCUST1" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ORDCUST2" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ORDCUST3" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ORDCUST4" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ORDCUST5" type="xsd:string"/>
      <xsd:element minOccurs="0" name="RECEIVER" type="xsd:string"/>
      <xsd:element minOccurs="0" name="PAYDET1" type="xsd:string"/>
      <xsd:element minOccurs="0" name="PAYDET2" type="xsd:string"/>
      <xsd:element minOccurs="0" name="PAYDET3" type="xsd:string"/>
      <xsd:element minOccurs="0" name="PAYDET4" type="xsd:string"/>
      <xsd:element minOccurs="0" name="SRI1" type="xsd:string"/>
      <xsd:element minOccurs="0" name="SRI2" type="xsd:string"/>
      <xsd:element minOccurs="0" name="SRI3" type="xsd:string"/>
      <xsd:element minOccurs="0" name="SRI4" type="xsd:string"/>
      <xsd:element minOccurs="0" name="SRI5" type="xsd:string"/>
      <xsd:element minOccurs="0" name="SRI6" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CHGDET" type="xsd:string"/>
      <xsd:element minOccurs="0" name="REGREP1" type="xsd:string"/>
      <xsd:element minOccurs="0" name="REGREP2" type="xsd:string"/>
      <xsd:element minOccurs="0" name="REGREP3" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ECONT1" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ECONT2" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ECONT3" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ECONT4" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ECONT5" type="xsd:string"/>
      <xsd:element name="VDATEDR" type="xsd:anySimpleType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DenomDetailsType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="CDCCY" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CDDENOM" type="xsd:string"/>
      <xsd:element minOccurs="0" name="VALUE" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="UNITS" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="INOUTIND" type="xsd:string"/>
      <xsd:element minOccurs="0" name="DENMVAL" type="xsd:decimal"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TCDenmType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="TCDESC" type="xsd:string"/>
      <xsd:element minOccurs="0" name="TCCOUNT" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="SYSCOUNT" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="SNO" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="STARTNO" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="ENDNO" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="TCAMT" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="TCIDDENM" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="INOUTIND" type="xsd:string"/>
      <xsd:element minOccurs="0" name="TCCCY" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ISSCODE" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FTdetsType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="FT_PRODUCT_CODE" type="xsd:string"/>
      <xsd:element minOccurs="0" name="TRANSFER_CURRENCY" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ULTBEN6" type="xsd:string"/>
      <xsd:element minOccurs="0" name="RECEIVER" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ACC1" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ACC2" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ACC3" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ACC4" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ACC5" type="xsd:string"/>
      <xsd:element minOccurs="0" name="REMINFO1" type="xsd:string"/>
      <xsd:element minOccurs="0" name="REMINFO2" type="xsd:string"/>
      <xsd:element minOccurs="0" name="REMINFO3" type="xsd:string"/>
      <xsd:element minOccurs="0" name="REMINFO4" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COUNTRES" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ULTBENDET1" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ULTBENDET2" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ULTBENDET3" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ULTBENDET4" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ULTBENDET5" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MIMAINTACCType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="MISGRP" type="xsd:string"/>
      <xsd:element minOccurs="0" name="RTFLAG" type="xsd:string"/>
      <xsd:element minOccurs="0" name="LINKGRP" type="xsd:string"/>
      <xsd:element minOccurs="0" name="POOLCD" type="xsd:string"/>
      <xsd:element minOccurs="0" name="REFRTCD" type="xsd:string"/>
      <xsd:element minOccurs="0" name="REFRTSPRD" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="REFRTTYPE" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CALCMETH" type="xsd:integer"/>
      <xsd:element minOccurs="0" name="TXNMIS1" type="xsd:string"/>
      <xsd:element minOccurs="0" name="TXNMIS2" type="xsd:string"/>
      <xsd:element minOccurs="0" name="TXNMIS3" type="xsd:string"/>
      <xsd:element minOccurs="0" name="TXNMIS4" type="xsd:string"/>
      <xsd:element minOccurs="0" name="TXNMIS5" type="xsd:string"/>
      <xsd:element minOccurs="0" name="TXNMIS6" type="xsd:string"/>
      <xsd:element minOccurs="0" name="TXNMIS7" type="xsd:string"/>
      <xsd:element minOccurs="0" name="TXNMIS8" type="xsd:string"/>
      <xsd:element minOccurs="0" name="TXNMIS9" type="xsd:string"/>
      <xsd:element minOccurs="0" name="TXNMIS10" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COMPMIS1" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COMPMIS2" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COMPMIS3" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COMPMIS4" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COMPMIS5" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COMPMIS6" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COMPMIS7" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COMPMIS8" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COMPMIS9" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COMPMIS10" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COSTCOD1" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COSTCOD2" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COSTCOD3" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COSTCOD4" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COSTCOD5" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MISDETAILSType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="BRANCH" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CUSTNO" type="xsd:string"/>
      <xsd:element minOccurs="0" name="MISGRP" type="xsd:string"/>
      <xsd:element minOccurs="0" name="REL_REF" type="xsd:string"/>
      <xsd:element minOccurs="0" name="REL_ACC" type="xsd:string"/>
      <xsd:element minOccurs="0" name="MISHD" type="xsd:string"/>
      <xsd:element minOccurs="0" name="POOLCD" type="xsd:string"/>
      <xsd:element minOccurs="0" name="REFRT" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="REFRTTYPE" type="xsd:string"/>
      <xsd:element minOccurs="0" name="REFXRT" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CALCMETH" type="xsd:integer"/>
      <xsd:element minOccurs="0" name="MISGRPTXN" type="xsd:string"/>
      <xsd:element minOccurs="0" name="REFRTCD" type="xsd:string"/>
      <xsd:element minOccurs="0" name="REFRTSPRD" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="FUNDMIS1" type="xsd:string"/>
      <xsd:element minOccurs="0" name="FUNDMIS2" type="xsd:string"/>
      <xsd:element minOccurs="0" name="FUNDMIS3" type="xsd:string"/>
      <xsd:element minOccurs="0" name="FUNDMIS4" type="xsd:string"/>
      <xsd:element minOccurs="0" name="FUNDMIS5" type="xsd:string"/>
      <xsd:element minOccurs="0" name="FUNDMIS6" type="xsd:string"/>
      <xsd:element minOccurs="0" name="FUNDMIS7" type="xsd:string"/>
      <xsd:element minOccurs="0" name="FUNDMIS8" type="xsd:string"/>
      <xsd:element minOccurs="0" name="FUNDMIS9" type="xsd:string"/>
      <xsd:element minOccurs="0" name="FUNDMIS10" type="xsd:string"/>
      <xsd:element minOccurs="0" name="MISGRPCOMP" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COMPMIS1" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COMPMIS2" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COMPMIS3" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COMPMIS4" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COMPMIS5" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COMPMIS6" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COMPMIS7" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COMPMIS8" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COMPMIS9" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COMPMIS10" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COSTCOD1" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COSTCOD2" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COSTCOD3" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COSTCOD4" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COSTCOD5" type="xsd:string"/>
      <xsd:element minOccurs="0" name="LINKGRP" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CCY" type="xsd:string"/>
      <xsd:element minOccurs="0" name="RTFLAG" type="xsd:string"/>
      <xsd:element minOccurs="0" name="PROCFLG" type="xsd:string"/>
      <xsd:element minOccurs="0" name="TXNMIS1" type="xsd:string"/>
      <xsd:element minOccurs="0" name="TXNMIS2" type="xsd:string"/>
      <xsd:element minOccurs="0" name="TXNMIS3" type="xsd:string"/>
      <xsd:element minOccurs="0" name="TXNMIS4" type="xsd:string"/>
      <xsd:element minOccurs="0" name="TXNMIS5" type="xsd:string"/>
      <xsd:element minOccurs="0" name="TXNMIS6" type="xsd:string"/>
      <xsd:element minOccurs="0" name="TXNMIS7" type="xsd:string"/>
      <xsd:element minOccurs="0" name="TXNMIS8" type="xsd:string"/>
      <xsd:element minOccurs="0" name="TXNMIS9" type="xsd:string"/>
      <xsd:element minOccurs="0" name="TXNMIS10" type="xsd:string"/>
      <xsd:element minOccurs="0" name="FUNDMIS1LBL1" type="xsd:string"/>
      <xsd:element minOccurs="0" name="FUNDMIS2LBL2" type="xsd:string"/>
      <xsd:element minOccurs="0" name="FUNDMIS3LBL3" type="xsd:string"/>
      <xsd:element minOccurs="0" name="FUNDMIS4LBL4" type="xsd:string"/>
      <xsd:element minOccurs="0" name="FUNDMIS5LBL5" type="xsd:string"/>
      <xsd:element minOccurs="0" name="FUNDMIS6LBL6" type="xsd:string"/>
      <xsd:element minOccurs="0" name="FUNDMIS7LBL7" type="xsd:string"/>
      <xsd:element minOccurs="0" name="FUNDMIS8LBL8" type="xsd:string"/>
      <xsd:element minOccurs="0" name="FUNDMIS9LBL9" type="xsd:string"/>
      <xsd:element minOccurs="0" name="FUNDMIS10LBL10" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COMPMIS1LBL1" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COMPMIS2LBL2" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COMPMIS3LBL3" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COMPMIS4LBL4" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COMPMIS5LBL5" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COMPMIS6LBL6" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COMPMIS7LBL7" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COMPMIS8LBL8" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COMPMIS9LBL9" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COMPMIS10LBL10" type="xsd:string"/>
      <xsd:element minOccurs="0" name="TXNMIS1LBL1" type="xsd:string"/>
      <xsd:element minOccurs="0" name="TXNMIS2LBL2" type="xsd:string"/>
      <xsd:element minOccurs="0" name="TXNMIS3LBL3" type="xsd:string"/>
      <xsd:element minOccurs="0" name="TXNMIS4LBL4" type="xsd:string"/>
      <xsd:element minOccurs="0" name="TXNMIS5LBL5" type="xsd:string"/>
      <xsd:element minOccurs="0" name="TXNMIS6LBL6" type="xsd:string"/>
      <xsd:element minOccurs="0" name="TXNMIS7LBL7" type="xsd:string"/>
      <xsd:element minOccurs="0" name="TXNMIS8LBL8" type="xsd:string"/>
      <xsd:element minOccurs="0" name="TXNMIS9LBL9" type="xsd:string"/>
      <xsd:element minOccurs="0" name="TXNMIS10LBL10" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CUSTMISType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="MISGRP" type="xsd:string"/>
      <xsd:element minOccurs="0" name="LINKGRP" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CUSTMIS1" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CUSTMIS2" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CUSTMIS3" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CUSTMIS4" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CUSTMIS5" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CUSTMIS6" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CUSTMIS7" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CUSTMIS8" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CUSTMIS9" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CUSTMIS10" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COMPMIS1" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COMPMIS2" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COMPMIS3" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COMPMIS4" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COMPMIS5" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COMPMIS6" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COMPMIS7" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COMPMIS8" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COMPMIS9" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COMPMIS10" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MISDETAILSRESType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="RTFLAG" type="xsd:string"/>
      <xsd:element minOccurs="0" name="POOLCD" type="xsd:string"/>
      <xsd:element minOccurs="0" name="PROCFLG" type="xsd:string"/>
      <xsd:element minOccurs="0" name="REFRT" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="REFRTTYPE" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CALCMETH" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CCY" type="xsd:string"/>
      <xsd:element minOccurs="0" name="REFRTCD" type="xsd:string"/>
      <xsd:element minOccurs="0" name="REFRTSPRD" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="RELACC" type="xsd:string"/>
      <xsd:element minOccurs="0" name="RELREF" type="xsd:string"/>
      <xsd:element minOccurs="0" name="MISGRPTXN" type="xsd:string"/>
      <xsd:element minOccurs="0" name="MISHD" type="xsd:string"/>
      <xsd:element minOccurs="0" name="MISGRPCOMP" type="xsd:string"/>
      <xsd:element minOccurs="0" name="TXNMIS1" type="xsd:string"/>
      <xsd:element minOccurs="0" name="TXNMIS2" type="xsd:string"/>
      <xsd:element minOccurs="0" name="TXNMIS3" type="xsd:string"/>
      <xsd:element minOccurs="0" name="TXNMIS4" type="xsd:string"/>
      <xsd:element minOccurs="0" name="TXNMIS5" type="xsd:string"/>
      <xsd:element minOccurs="0" name="TXNMIS6" type="xsd:string"/>
      <xsd:element minOccurs="0" name="TXNMIS7" type="xsd:string"/>
      <xsd:element minOccurs="0" name="TXNMIS8" type="xsd:string"/>
      <xsd:element minOccurs="0" name="TXNMIS9" type="xsd:string"/>
      <xsd:element minOccurs="0" name="TXNMIS10" type="xsd:string"/>
      <xsd:element minOccurs="0" name="UNTYPE" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COMPMIS1" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COMPMIS2" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COMPMIS3" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COMPMIS4" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COMPMIS5" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COMPMIS6" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COMPMIS7" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COMPMIS8" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COMPMIS9" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COMPMIS10" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COSTCOD1" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COSTCOD2" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COSTCOD3" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COSTCOD4" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COSTCOD5" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CUST" type="xsd:string"/>
      <xsd:element minOccurs="0" name="FUNDMIS1" type="xsd:string"/>
      <xsd:element minOccurs="0" name="FUNDMIS2" type="xsd:string"/>
      <xsd:element minOccurs="0" name="FUNDMIS3" type="xsd:string"/>
      <xsd:element minOccurs="0" name="FUNDMIS4" type="xsd:string"/>
      <xsd:element minOccurs="0" name="FUNDMIS5" type="xsd:string"/>
      <xsd:element minOccurs="0" name="FUNDMIS6" type="xsd:string"/>
      <xsd:element minOccurs="0" name="FUNDMIS7" type="xsd:string"/>
      <xsd:element minOccurs="0" name="FUNDMIS8" type="xsd:string"/>
      <xsd:element minOccurs="0" name="FUNDMIS9" type="xsd:string"/>
      <xsd:element minOccurs="0" name="FUNDMIS10" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MISDETAILSREQType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="RTFLAG" type="xsd:string"/>
      <xsd:element minOccurs="0" name="POOLCD" type="xsd:string"/>
      <xsd:element minOccurs="0" name="PROCFLG" type="xsd:string"/>
      <xsd:element minOccurs="0" name="REFRTTYPE" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CALCMETH" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CCY" type="xsd:string"/>
      <xsd:element minOccurs="0" name="REFRTSPRD" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="RELACC" type="xsd:string"/>
      <xsd:element minOccurs="0" name="RELREF" type="xsd:string"/>
      <xsd:element minOccurs="0" name="MISGRP" type="xsd:string"/>
      <xsd:element minOccurs="0" name="MISGRPTXN" type="xsd:string"/>
      <xsd:element minOccurs="0" name="MISGRPCOMP" type="xsd:string"/>
      <xsd:element minOccurs="0" name="TXNMIS1" type="xsd:string"/>
      <xsd:element minOccurs="0" name="TXNMIS2" type="xsd:string"/>
      <xsd:element minOccurs="0" name="TXNMIS3" type="xsd:string"/>
      <xsd:element minOccurs="0" name="TXNMIS4" type="xsd:string"/>
      <xsd:element minOccurs="0" name="TXNMIS5" type="xsd:string"/>
      <xsd:element minOccurs="0" name="TXNMIS6" type="xsd:string"/>
      <xsd:element minOccurs="0" name="TXNMIS7" type="xsd:string"/>
      <xsd:element minOccurs="0" name="TXNMIS8" type="xsd:string"/>
      <xsd:element minOccurs="0" name="TXNMIS9" type="xsd:string"/>
      <xsd:element minOccurs="0" name="TXNMIS10" type="xsd:string"/>
      <xsd:element minOccurs="0" name="UNTYPE" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COMPMIS1" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COMPMIS2" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COMPMIS3" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COMPMIS4" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COMPMIS5" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COMPMIS6" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COMPMIS7" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COMPMIS8" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COMPMIS9" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COMPMIS10" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COSTCOD1" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COSTCOD2" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COSTCOD3" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COSTCOD4" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COSTCOD5" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CUST" type="xsd:string"/>
      <xsd:element minOccurs="0" name="FUNDMIS1" type="xsd:string"/>
      <xsd:element minOccurs="0" name="FUNDMIS2" type="xsd:string"/>
      <xsd:element minOccurs="0" name="FUNDMIS3" type="xsd:string"/>
      <xsd:element minOccurs="0" name="FUNDMIS4" type="xsd:string"/>
      <xsd:element minOccurs="0" name="FUNDMIS5" type="xsd:string"/>
      <xsd:element minOccurs="0" name="FUNDMIS6" type="xsd:string"/>
      <xsd:element minOccurs="0" name="FUNDMIS7" type="xsd:string"/>
      <xsd:element minOccurs="0" name="FUNDMIS8" type="xsd:string"/>
      <xsd:element minOccurs="0" name="FUNDMIS9" type="xsd:string"/>
      <xsd:element minOccurs="0" name="FUNDMIS10" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MISRefineRateDetails">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="UNITREF" type="xsd:string"/>
      <xsd:element name="BKDATE" type="xsd:anySimpleType"/>
      <xsd:element minOccurs="0" name="EFFDT" type="xsd:anySimpleType"/>
      <xsd:element name="REFRT" type="xsd:decimal"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MISAMENDDetails">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="CONTREF" type="xsd:string"/>
      <xsd:element name="RTYPE" type="xsd:string"/>
      <xsd:element name="RCODE" type="xsd:string"/>
      <xsd:element name="SPD" type="xsd:decimal"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MISCHANGELOGDetails">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="BRN" type="xsd:string"/>
      <xsd:element minOccurs="0" name="REFNO" type="xsd:string"/>
      <xsd:element minOccurs="0" name="MIS" type="xsd:anySimpleType"/>
      <xsd:element minOccurs="0" name="TXNDT" type="xsd:string"/>
      <xsd:element name="OLDMIS" type="xsd:string"/>
      <xsd:element name="NEWMIS" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MISBALTRANLOGDetails">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="BRN" type="xsd:string"/>
      <xsd:element minOccurs="0" name="REFNO" type="xsd:string"/>
      <xsd:element minOccurs="0" name="MIS" type="xsd:anySimpleType"/>
      <xsd:element minOccurs="0" name="TXNDT" type="xsd:string"/>
      <xsd:element name="OLDMIS" type="xsd:string"/>
      <xsd:element name="NEWMIS" type="xsd:string"/>
      <xsd:element name="PERIOD" type="xsd:string"/>
      <xsd:element name="FINYR" type="xsd:string"/>
      <xsd:element name="GLCODE" type="xsd:string"/>
      <xsd:element name="CCY" type="xsd:string"/>
      <xsd:element name="AMT" type="xsd:decimal"/>
      <xsd:element name="EXRATE" type="xsd:decimal"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UDFDETAILSType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="FUNCTIONID" type="xsd:string"/>
      <xsd:element name="FIELD_NAME" type="xsd:string"/>
      <xsd:element minOccurs="0" name="DATATYPE" type="xsd:string"/>
      <xsd:element minOccurs="0" name="FIELD_VALUE" type="xsd:string"/>
      <xsd:element minOccurs="0" name="VAL_TYPE" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Clearing-Details-Type">
    <xsd:sequence>
      <xsd:element name="PRODUCT" type="xsd:string"/>
      <xsd:element minOccurs="0" name="FCCREF" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ESN" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="REMACCOUNT" type="xsd:string"/>
      <xsd:element name="INSTRNO" type="xsd:string"/>
      <xsd:element name="INSTRCCY" type="xsd:string"/>
      <xsd:element name="INSTRAMT" type="xsd:decimal"/>
      <xsd:element name="INSTRTYPE" type="xsd:string"/>
      <xsd:element name="BENROUTINGNO" type="xsd:string"/>
      <xsd:element name="INSTRDATE" type="xsd:anySimpleType"/>
      <xsd:element name="CHEQUEISSUEDATE" type="xsd:anySimpleType"/>
      <xsd:element name="TXNDATE" type="xsd:anySimpleType"/>
      <xsd:element minOccurs="0" name="VALDATE" type="xsd:anySimpleType"/>
      <xsd:element minOccurs="0" name="LATECLG" type="ns0:YesNoType"/>
      <xsd:element name="ROUTINGNO" type="xsd:string"/>
      <xsd:element minOccurs="0" name="SERIALNO" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ENTRYNO" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="REGCC" type="ns0:YesNoType"/>
      <xsd:element minOccurs="0" name="SPLCHQ" type="ns0:YesNoType"/>
      <xsd:element name="TXNBRN" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BENACCOUNT" type="xsd:string"/>
      <xsd:element minOccurs="0" name="TXNCCY" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ENDPOINT" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ACCCY" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ACCCYAMT" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="ROUTBNKCOD" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ROUTBRNCOD" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ROUTSECTCOD" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BENCUSTID" type="xsd:string"/>
      <xsd:element minOccurs="0" name="REMCUST" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ACCBRN" type="xsd:string"/>
      <xsd:element minOccurs="0" name="INSTRNO2" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ERRCODE" type="xsd:string"/>
      <xsd:element minOccurs="0" name="LCYCHGAMT" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="CHGCCYLCYXRT" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="LCYCHGAMT1" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="CHGCCYLCYXRT1" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="LCYCHGAMT2" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="CHGCCYLCYXRT2" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="LCYCHGAMT3" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="CHGCCYLCYXRT3" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="LCYCHGAMT4" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="CHGCCYLCYXRT4" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="ACYTOTCHGAMT" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="CR_CARD_NO" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CC_HOLDER_NAME" type="xsd:string"/>
      <xsd:element minOccurs="0" name="REMBANK" type="xsd:string"/>
      <xsd:element minOccurs="0" name="REMBRANCH" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BENBANK" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BENBRANCH" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BENCCY" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ROUTBNKNAM" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ROUTBRNNAM" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ROUTSECTDISC" type="xsd:string"/>
      <xsd:element minOccurs="0" name="LCYTOTCHGAMT" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="TCYTOTCHGAMT" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="DENMCCY1" type="xsd:string"/>
      <xsd:element minOccurs="0" name="DENMAMT1" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="DENMCCY2" type="xsd:string"/>
      <xsd:element minOccurs="0" name="DENMAMT2" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="XRATE" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="DIRECTION" type="ns0:DirectionType"/>
      <xsd:element minOccurs="0" name="REMDET1" type="xsd:string"/>
      <xsd:element minOccurs="0" name="REMDET2" type="xsd:string"/>
      <xsd:element minOccurs="0" name="REMDET3" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BENDET1" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BENDET2" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BENDET3" type="xsd:string"/>
      <xsd:element minOccurs="0" name="DIN" type="xsd:string"/>
      <xsd:element minOccurs="0" name="DINDATE" type="xsd:anySimpleType"/>
      <xsd:element minOccurs="0" name="CUSTDATE" type="xsd:anySimpleType"/>
      <xsd:element minOccurs="0" name="MODULE" type="xsd:string"/>
      <xsd:element minOccurs="0" name="MODREFNO" type="xsd:string"/>
      <xsd:element minOccurs="0" name="REJREASON" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CUSTID" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ACCTITLE" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CUSTNAME" type="xsd:string"/>
      <xsd:element minOccurs="0" name="REMARKS" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ACTAMT" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="MAKERID" type="xsd:string"/>
      <xsd:element minOccurs="0" name="MAKERSTAMP" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CHECKERID" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CHECKERSTAMP" type="xsd:string"/>
      <xsd:element minOccurs="0" name="MODNO" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="RECORDSTAT" type="ns0:RecStatType"/>
      <xsd:element minOccurs="0" name="AUTHSTAT" type="ns0:AuthStatType"/>
      <xsd:element minOccurs="0" name="ONCEAUTH" type="ns0:YesNoType"/>
      <xsd:element minOccurs="0" name="STATUS" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ClearingTxn-Reject-Type">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="SCODE" type="xsd:string"/>
      <xsd:element name="XREF" type="xsd:string"/>
      <xsd:element name="TXNBRN" type="xsd:string"/>
      <xsd:element name="REMACCOUNT" type="xsd:string"/>
      <xsd:element name="INSTRNO" type="xsd:string"/>
      <xsd:element name="ROUTINGNO" type="xsd:string"/>
      <xsd:element name="REASONCODE" type="xsd:string"/>
      <xsd:element minOccurs="0" name="REJECTREASON" type="xsd:string"/>
      <xsd:element name="FCCREF" type="xsd:string"/>
      <xsd:element minOccurs="0" name="STATUS" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BENACCOUNT" type="xsd:string"/>
      <xsd:element minOccurs="0" name="INSTRCCY" type="xsd:string"/>
      <xsd:element minOccurs="0" name="INSTRAMT" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="INSTRDATE" type="xsd:anySimpleType"/>
      <xsd:element minOccurs="0" name="CHEQUEISSUEDATE" type="xsd:anySimpleType"/>
      <xsd:element minOccurs="0" name="TXNDATE" type="xsd:anySimpleType"/>
      <xsd:element minOccurs="0" name="VALDATE" type="xsd:anySimpleType"/>
      <xsd:element minOccurs="0" name="LATECLG" type="ns0:YesNoType"/>
      <xsd:element minOccurs="0" name="ENDPOINT" type="xsd:string"/>
      <xsd:element minOccurs="0" name="MAKERID" type="xsd:string"/>
      <xsd:element minOccurs="0" name="MAKERSTAMP" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CHECKERID" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CHECKERSTAMP" type="xsd:string"/>
      <xsd:element minOccurs="0" name="MODNO" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="RECORDSTAT" type="ns0:RecStatType"/>
      <xsd:element minOccurs="0" name="AUTHSTAT" type="ns0:AuthStatType"/>
      <xsd:element minOccurs="0" name="ONCEAUTH" type="ns0:YesNoType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ClearingTxn-Reject-Type-IO">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="SCODE" type="xsd:string"/>
      <xsd:element name="XREF" type="xsd:string"/>
      <xsd:element name="TXNBRN" type="xsd:string"/>
      <xsd:element name="REMACCOUNT" type="xsd:string"/>
      <xsd:element name="INSTRNO" type="xsd:string"/>
      <xsd:element name="ROUTINGNO" type="xsd:string"/>
      <xsd:element name="REASONCODE" type="xsd:string"/>
      <xsd:element minOccurs="0" name="REJECTREASON" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ClearingTxn-Reject-Type-PK">
    <xsd:sequence>
      <xsd:element name="XREF" type="xsd:string"/>
      <xsd:element name="FCCREF" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ClearingTxn-Full-Type">
    <xsd:sequence>
      <xsd:element name="XREF" type="xsd:string"/>
      <xsd:element minOccurs="0" name="SCODE" type="xsd:string"/>
      <xsd:element minOccurs="0" name="STATUS" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BATCHTOTAMT" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="CONSOLIDATED" type="ns0:YesNoType"/>
      <xsd:element maxOccurs="unbounded" name="Clearing-Details" type="ns0:Clearing-Details-Type"/>
      <xsd:element minOccurs="0" name="Mis-Details" type="ns0:MISDETAILSType"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Udf-Details" type="ns0:UDFDETAILSType"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Charge-Details" type="ns0:ChgdetsType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="StopPmnt-Full-Type">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="SCODE" type="xsd:string"/>
      <xsd:element name="XREF" type="xsd:string"/>
      <xsd:element name="BRN" type="xsd:string"/>
      <xsd:element name="ACC" type="xsd:string"/>
      <xsd:element name="STOPPAYNO" type="xsd:string"/>
      <xsd:element name="STOPPAYTYPE" type="xsd:string"/>
      <xsd:element name="STARTCHKNO" type="xsd:string"/>
      <xsd:element name="ENDCHKNO" type="xsd:string"/>
      <xsd:element minOccurs="0" name="AMT" type="xsd:decimal"/>
      <xsd:element name="EFFDT" type="xsd:anySimpleType"/>
      <xsd:element name="EXPDT" type="xsd:anySimpleType"/>
      <xsd:element minOccurs="0" name="CONF" type="xsd:string"/>
      <xsd:element minOccurs="0" name="REM" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CCY" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ACCTITLE" type="xsd:string"/>
      <xsd:element minOccurs="0" name="MAKERID" type="xsd:string"/>
      <xsd:element minOccurs="0" name="MAKERSTAMP" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CHECKERID" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CHECKERSTAMP" type="xsd:string"/>
      <xsd:element minOccurs="0" name="MODNO" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="RECORDSTAT" type="ns0:RecStatType"/>
      <xsd:element minOccurs="0" name="AUTHSTAT" type="ns0:AuthStatType"/>
      <xsd:element minOccurs="0" name="ONCEAUTH" type="ns0:YesNoType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="StopPmnt-IO-Type">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="SCODE" type="xsd:string"/>
      <xsd:element name="XREF" type="xsd:string"/>
      <xsd:element name="BRN" type="xsd:string"/>
      <xsd:element name="ACC" type="xsd:string"/>
      <xsd:element name="STOPPAYTYPE" type="xsd:string"/>
      <xsd:element name="STARTCHKNO" type="xsd:string"/>
      <xsd:element name="ENDCHKNO" type="xsd:string"/>
      <xsd:element minOccurs="0" name="AMT" type="xsd:decimal"/>
      <xsd:element name="EFFDT" type="xsd:anySimpleType"/>
      <xsd:element name="EXPDT" type="xsd:anySimpleType"/>
      <xsd:element minOccurs="0" name="REM" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="StopPmnt-PK-Type">
    <xsd:sequence>
      <xsd:element name="XREF" type="xsd:string"/>
      <xsd:element name="STOPPAYNO" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="QueryCheck-FULL-Type">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="SCODE" type="xsd:string"/>
      <xsd:element name="XREF" type="xsd:string"/>
      <xsd:element name="ACC" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ACCBRN" type="xsd:string"/>
      <xsd:element name="INSTRNO" type="xsd:string"/>
      <xsd:element minOccurs="0" name="STATUS" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ACCTITLE" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CUSTID" type="xsd:string"/>
      <xsd:element name="CCY" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="QueryCheck-IOPK-Type">
    <xsd:sequence>
      <xsd:element name="ACC" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ACCBRN" type="xsd:string"/>
      <xsd:element name="INSTRNO" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FCUBS_NotifHeaderType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="SOURCE" type="xsd:string"/>
      <xsd:element name="MSGID" type="xsd:string"/>
      <xsd:element name="NOTIF_REF_NO" type="xsd:string"/>
      <xsd:element name="BRANCH" type="xsd:string"/>
      <xsd:element name="NOTIF_CODE" type="xsd:string"/>
      <xsd:element minOccurs="0" name="DESTINATION" type="xsd:string"/>
      <xsd:element minOccurs="0" name="MODULEID" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ERRORType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="ERROR" type="ns0:ERRORDETAILSType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ERRORDETAILSType">
    <xsd:sequence>
      <xsd:element name="ECODE" type="xsd:string"/>
      <xsd:element name="EDESC" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="WARNINGType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="WARNING" type="ns0:WARNINGDETAILSType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="WARNINGDETAILSType">
    <xsd:sequence>
      <xsd:element name="WCODE" type="xsd:string"/>
      <xsd:element name="WDESC" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Stdcchol-PK-Type">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="CCCY" type="xsd:string"/>
      <xsd:element name="YR" type="xsd:decimal"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Stdcchol-PK-ACR-Type">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="CCCY" type="xsd:string"/>
      <xsd:element name="YR" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="MODNO" type="xsd:integer"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element ibmSchExtn:docRoot="true" name="AUTHORIZECLEARINGREJECT_FSFS_REQ">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="FCUBS_HEADER" type="ns0:FCUBS_HEADERType"/>
        <xsd:element name="FCUBS_BODY">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Clearing-Reject-Details" type="ns0:ClearingTxn-Reject-Type"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="AUTHORIZECLEARINGREJECT_FSFS_RES">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="FCUBS_HEADER" type="ns0:FCUBS_HEADERType"/>
        <xsd:element name="FCUBS_BODY">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Clearing-Reject-Details" type="ns0:ClearingTxn-Reject-Type"/>
              <xsd:element minOccurs="0" name="FCUBS_ERROR_RESP" type="ns0:ERRORType"/>
              <xsd:element minOccurs="0" name="FCUBS_WARNING_RESP" type="ns0:WARNINGType"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="AUTHORIZECLEARINGREJECT_IOPK_REQ">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="FCUBS_HEADER" type="ns0:FCUBS_HEADERType"/>
        <xsd:element name="FCUBS_BODY">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Clearing-Reject-Details-IO" type="ns0:ClearingTxn-Reject-Type-PK"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="AUTHORIZECLEARINGREJECT_IOPK_RES">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="FCUBS_HEADER" type="ns0:FCUBS_HEADERType"/>
        <xsd:element name="FCUBS_BODY">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element minOccurs="0" name="Clearing-Reject-Details-IO" type="ns0:ClearingTxn-Reject-Type-IO"/>
              <xsd:element minOccurs="0" name="Clearing-Reject-Details-PK" type="ns0:ClearingTxn-Reject-Type-PK"/>
              <xsd:element minOccurs="0" name="FCUBS_ERROR_RESP" type="ns0:ERRORType"/>
              <xsd:element minOccurs="0" name="FCUBS_WARNING_RESP" type="ns0:WARNINGType"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="AUTHORIZESTOPPAYMENT_FSFS_REQ">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="FCUBS_HEADER" type="ns0:FCUBS_HEADERType"/>
        <xsd:element name="FCUBS_BODY">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Stop-Payment-Details" type="ns0:StopPmnt-Full-Type"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="AUTHORIZESTOPPAYMENT_FSFS_RES">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="FCUBS_HEADER" type="ns0:FCUBS_HEADERType"/>
        <xsd:element name="FCUBS_BODY">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Stop-Payment-Details" type="ns0:StopPmnt-Full-Type"/>
              <xsd:element minOccurs="0" name="FCUBS_ERROR_RESP" type="ns0:ERRORType"/>
              <xsd:element minOccurs="0" name="FCUBS_WARNING_RESP" type="ns0:WARNINGType"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="AUTHORIZESTOPPAYMENT_IOPK_REQ">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="FCUBS_HEADER" type="ns0:FCUBS_HEADERType"/>
        <xsd:element name="FCUBS_BODY">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Stop-Payment-Details-IO" type="ns0:StopPmnt-PK-Type"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="AUTHORIZESTOPPAYMENT_IOPK_RES">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="FCUBS_HEADER" type="ns0:FCUBS_HEADERType"/>
        <xsd:element name="FCUBS_BODY">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element minOccurs="0" name="Stop-Payment-Details-IO" type="ns0:StopPmnt-PK-Type"/>
              <xsd:element minOccurs="0" name="Stop-Payment-Details-PK" type="ns0:StopPmnt-PK-Type"/>
              <xsd:element minOccurs="0" name="FCUBS_ERROR_RESP" type="ns0:ERRORType"/>
              <xsd:element minOccurs="0" name="FCUBS_WARNING_RESP" type="ns0:WARNINGType"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="AUTHORIZETRANSACTION_FSFS_REQ">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="FCUBS_HEADER" type="ns0:FCUBS_HEADERType"/>
        <xsd:element name="FCUBS_BODY">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Transaction-Details" type="ns0:ClearingTxn-Full-Type"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="AUTHORIZETRANSACTION_FSFS_RES">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="FCUBS_HEADER" type="ns0:FCUBS_HEADERType"/>
        <xsd:element name="FCUBS_BODY">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Transaction-Details" type="ns0:ClearingTxn-Full-Type"/>
              <xsd:element minOccurs="0" name="FCUBS_ERROR_RESP" type="ns0:ERRORType"/>
              <xsd:element minOccurs="0" name="FCUBS_WARNING_RESP" type="ns0:WARNINGType"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="AUTHORIZETRANSACTION_IOPK_REQ">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="FCUBS_HEADER" type="ns0:FCUBS_HEADERType"/>
        <xsd:element name="FCUBS_BODY">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Transaction-Details" type="ns0:ClearingTxn-PK-Type"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="AUTHORIZETRANSACTION_IOPK_RES">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="FCUBS_HEADER" type="ns0:FCUBS_HEADERType"/>
        <xsd:element name="FCUBS_BODY">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element minOccurs="0" name="Transaction-Details" type="ns0:ClearingTxn-PK-Type"/>
              <xsd:element minOccurs="0" name="Transaction-Details-PK" type="ns0:ClearingTxn-PK-Type"/>
              <xsd:element minOccurs="0" name="FCUBS_ERROR_RESP" type="ns0:ERRORType"/>
              <xsd:element minOccurs="0" name="FCUBS_WARNING_RESP" type="ns0:WARNINGType"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="CREATECLEARINGREJECT_FSFS_REQ">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="FCUBS_HEADER" type="ns0:FCUBS_HEADERType"/>
        <xsd:element name="FCUBS_BODY">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Clearing-Reject-Details" type="ns0:ClearingTxn-Reject-Type"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="CREATECLEARINGREJECT_FSFS_RES">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="FCUBS_HEADER" type="ns0:FCUBS_HEADERType"/>
        <xsd:element name="FCUBS_BODY">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Clearing-Reject-Details" type="ns0:ClearingTxn-Reject-Type"/>
              <xsd:element minOccurs="0" name="FCUBS_ERROR_RESP" type="ns0:ERRORType"/>
              <xsd:element minOccurs="0" name="FCUBS_WARNING_RESP" type="ns0:WARNINGType"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="CREATECLEARINGREJECT_IOPK_REQ">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="FCUBS_HEADER" type="ns0:FCUBS_HEADERType"/>
        <xsd:element name="FCUBS_BODY">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Clearing-Reject-Details-IO" type="ns0:ClearingTxn-Reject-Type-IO"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="CREATECLEARINGREJECT_IOPK_RES">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="FCUBS_HEADER" type="ns0:FCUBS_HEADERType"/>
        <xsd:element name="FCUBS_BODY">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element minOccurs="0" name="Clearing-Reject-Details-IO" type="ns0:ClearingTxn-Reject-Type-IO"/>
              <xsd:element minOccurs="0" name="Clearing-Reject-Details-PK" type="ns0:ClearingTxn-Reject-Type-PK"/>
              <xsd:element minOccurs="0" name="FCUBS_ERROR_RESP" type="ns0:ERRORType"/>
              <xsd:element minOccurs="0" name="FCUBS_WARNING_RESP" type="ns0:WARNINGType"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="CREATESTOPPAYMENT_FSFS_REQ">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="FCUBS_HEADER" type="ns0:FCUBS_HEADERType"/>
        <xsd:element name="FCUBS_BODY">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Stop-Payment-Details" type="ns0:StopPmnt-Full-Type"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="CREATESTOPPAYMENT_FSFS_RES">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="FCUBS_HEADER" type="ns0:FCUBS_HEADERType"/>
        <xsd:element name="FCUBS_BODY">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Stop-Payment-Details" type="ns0:StopPmnt-Full-Type"/>
              <xsd:element minOccurs="0" name="FCUBS_ERROR_RESP" type="ns0:ERRORType"/>
              <xsd:element minOccurs="0" name="FCUBS_WARNING_RESP" type="ns0:WARNINGType"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="CREATESTOPPAYMENT_IOPK_REQ">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="FCUBS_HEADER" type="ns0:FCUBS_HEADERType"/>
        <xsd:element name="FCUBS_BODY">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Stop-Payment-Details-IO" type="ns0:StopPmnt-IO-Type"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="CREATESTOPPAYMENT_IOPK_RES">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="FCUBS_HEADER" type="ns0:FCUBS_HEADERType"/>
        <xsd:element name="FCUBS_BODY">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element minOccurs="0" name="Stop-Payment-Details-IO" type="ns0:StopPmnt-IO-Type"/>
              <xsd:element minOccurs="0" name="Stop-Payment-Details-PK" type="ns0:StopPmnt-PK-Type"/>
              <xsd:element minOccurs="0" name="FCUBS_ERROR_RESP" type="ns0:ERRORType"/>
              <xsd:element minOccurs="0" name="FCUBS_WARNING_RESP" type="ns0:WARNINGType"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="CREATETRANSACTION_FSFS_REQ">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="FCUBS_HEADER" type="ns0:FCUBS_HEADERType"/>
        <xsd:element name="FCUBS_BODY">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Transaction-Details" type="ns0:ClearingTxn-Full-Type"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="CREATETRANSACTION_FSFS_RES">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="FCUBS_HEADER" type="ns0:FCUBS_HEADERType"/>
        <xsd:element name="FCUBS_BODY">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Transaction-Details" type="ns0:ClearingTxn-Full-Type"/>
              <xsd:element minOccurs="0" name="FCUBS_ERROR_RESP" type="ns0:ERRORType"/>
              <xsd:element minOccurs="0" name="FCUBS_WARNING_RESP" type="ns0:WARNINGType"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="CREATETRANSACTION_IOPK_REQ">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="FCUBS_HEADER" type="ns0:FCUBS_HEADERType"/>
        <xsd:element name="FCUBS_BODY">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Transaction-Details" type="ns0:ClearingTxn-IO-Type"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="CREATETRANSACTION_IOPK_RES">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="FCUBS_HEADER" type="ns0:FCUBS_HEADERType"/>
        <xsd:element name="FCUBS_BODY">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element minOccurs="0" name="Transaction-Details" type="ns0:ClearingTxn-IO-Type"/>
              <xsd:element minOccurs="0" name="Transaction-Details-PK" type="ns0:ClearingTxn-PK-Type"/>
              <xsd:element minOccurs="0" name="FCUBS_ERROR_RESP" type="ns0:ERRORType"/>
              <xsd:element minOccurs="0" name="FCUBS_WARNING_RESP" type="ns0:WARNINGType"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="QUERYCCYCLGHOLIDAY_IOFS_REQ">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="FCUBS_HEADER" type="ns0:FCUBS_HEADERType"/>
        <xsd:element name="FCUBS_BODY">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CCY_Holiday_Details-IO" type="ns0:Stdcchol-PK-Type"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="QUERYCCYCLGHOLIDAY_IOFS_RES">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="FCUBS_HEADER" type="ns0:FCUBS_HEADERType"/>
        <xsd:element name="FCUBS_BODY">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element minOccurs="0" name="CCY_Holiday_Details" type="ns0:Stdcchol-PK-Type"/>
              <xsd:element minOccurs="0" name="CCY_Holiday_Details-Full" type="ns0:Stdcchol-Full-Type"/>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="FCUBS_ERROR_RESP" type="ns0:ERRORType"/>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="FCUBS_WARNING_RESP" type="ns0:WARNINGType"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="QUERYCLEARINGREJECT_IOFS_REQ">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="FCUBS_HEADER" type="ns0:FCUBS_HEADERType"/>
        <xsd:element name="FCUBS_BODY">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Clearing-Reject-Details-IO" type="ns0:ClearingTxn-Reject-Type-PK"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="QUERYCLEARINGREJECT_IOFS_RES">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="FCUBS_HEADER" type="ns0:FCUBS_HEADERType"/>
        <xsd:element name="FCUBS_BODY">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Clearing-Reject-Details" type="ns0:ClearingTxn-Reject-Type"/>
              <xsd:element minOccurs="0" name="FCUBS_ERROR_RESP" type="ns0:ERRORType"/>
              <xsd:element minOccurs="0" name="FCUBS_WARNING_RESP" type="ns0:WARNINGType"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="QUERYSTOPPAYMENT_IOFS_REQ">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="FCUBS_HEADER" type="ns0:FCUBS_HEADERType"/>
        <xsd:element name="FCUBS_BODY">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Stop-Payment-Details-IO" type="ns0:StopPmnt-PK-Type"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="QUERYSTOPPAYMENT_IOFS_RES">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="FCUBS_HEADER" type="ns0:FCUBS_HEADERType"/>
        <xsd:element name="FCUBS_BODY">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Stop-Payment-Details" type="ns0:StopPmnt-Full-Type"/>
              <xsd:element minOccurs="0" name="FCUBS_ERROR_RESP" type="ns0:ERRORType"/>
              <xsd:element minOccurs="0" name="FCUBS_WARNING_RESP" type="ns0:WARNINGType"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="QUERYTRANSACTION_IOFS_REQ">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="FCUBS_HEADER" type="ns0:FCUBS_HEADERType"/>
        <xsd:element name="FCUBS_BODY">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Transaction-Details" type="ns0:ClearingTxn-PK-Type"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="QUERYTRANSACTION_IOFS_RES">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="FCUBS_HEADER" type="ns0:FCUBS_HEADERType"/>
        <xsd:element name="FCUBS_BODY">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Transaction-Details" type="ns0:ClearingTxn-Full-Type"/>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="FCUBS_ERROR_RESP" type="ns0:ERRORType"/>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="FCUBS_WARNING_RESP" type="ns0:WARNINGType"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="REVERSETRANSACTION_FSFS_REQ">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="FCUBS_HEADER" type="ns0:FCUBS_HEADERType"/>
        <xsd:element name="FCUBS_BODY">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Transaction-Details" type="ns0:ClearingTxn-Full-Type"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="REVERSETRANSACTION_FSFS_RES">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="FCUBS_HEADER" type="ns0:FCUBS_HEADERType"/>
        <xsd:element name="FCUBS_BODY">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Transaction-Details" type="ns0:ClearingTxn-Full-Type"/>
              <xsd:element minOccurs="0" name="FCUBS_ERROR_RESP" type="ns0:ERRORType"/>
              <xsd:element minOccurs="0" name="FCUBS_WARNING_RESP" type="ns0:WARNINGType"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="REVERSETRANSACTION_IOPK_REQ">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="FCUBS_HEADER" type="ns0:FCUBS_HEADERType"/>
        <xsd:element name="FCUBS_BODY">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Transaction-Details" type="ns0:ClearingTxn-PK-Type"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="REVERSETRANSACTION_IOPK_RES">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="FCUBS_HEADER" type="ns0:FCUBS_HEADERType"/>
        <xsd:element name="FCUBS_BODY">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element minOccurs="0" name="Transaction-Details" type="ns0:ClearingTxn-PK-Type"/>
              <xsd:element minOccurs="0" name="Transaction-Details-PK" type="ns0:ClearingTxn-PK-Type"/>
              <xsd:element minOccurs="0" name="FCUBS_ERROR_RESP" type="ns0:ERRORType"/>
              <xsd:element minOccurs="0" name="FCUBS_WARNING_RESP" type="ns0:WARNINGType"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:simpleType name="YesNoType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Y"/>
      <xsd:enumeration value="N"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="UBSCOMPType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="FCUBS"/>
      <xsd:enumeration value="FCIS"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="MsgStatType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="SUCCESS"/>
      <xsd:enumeration value="WARNING"/>
      <xsd:enumeration value="FAILURE"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DirectionType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="I"/>
      <xsd:enumeration value="O"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="RecStatType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="O"/>
      <xsd:enumeration value="C"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="AuthStatType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="A"/>
      <xsd:enumeration value="U"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>