DashenBank_FetchPaymentList_App/FetchPaymentListService_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/FetchPaymentListService/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/FetchPaymentListService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <xsd:element ibmSchExtn:docRoot="true" name="FetchPaymentList">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="FetchPaymentListByDriverID" type="tns:FetchPaymentListByDriverIDType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="FetchPaymentListResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="FetchPaymentListByDriverIDResponse" type="tns:FetchPaymentListByDriverIDResponseType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    
      <xsd:complexType name="FetchPaymentListByDriverIDType">
      	<xsd:sequence>
      		<xsd:element name="providerID" type="xsd:int"/>
      		<xsd:element name="appcode" type="xsd:string"/>
      		<xsd:element name="apppassphrase" type="xsd:string"/>
      		<xsd:element name="token" type="xsd:string"/>
      		<xsd:element name="licenseNumber" type="xsd:string"/>
      		<xsd:element name="dtFrom" type="xsd:dateTime"/>
      		<xsd:element name="dtTo" type="xsd:dateTime"/>
      		<xsd:element name="driverID" type="xsd:string"/>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="FetchPaymentListByDriverIDResponseType">
      	<xsd:sequence>
      		<xsd:element name="FetchPaymentListResponse" type="tns:FetchPaymentListResponseType">
      		</xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="FetchPaymentListResponseType">
      	<xsd:sequence>
      		<xsd:element name="UtilAPIFetchPaymentListResponse" type="xsd:string">
      		</xsd:element>
      		<xsd:element name="Successful" type="xsd:string"/>
      		<xsd:element name="Remarks" type="xsd:string"/>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="UtilAPIFetchPaymentListResponseType">
      	<xsd:sequence>
      		<xsd:element name="UtilAPIFetchPaymentListResponse" type="xsd:string"/>
      	</xsd:sequence>
      </xsd:complexType>
    </xsd:schema>