DashenBank_BillPayUsingWallet_app/BillPayUsingWallet_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/BillPayUsingWallet/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/BillPayUsingWallet/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <xsd:element ibmSchExtn:docRoot="true" name="BillPayUsingWallet">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="billID" type="xsd:string"/>
          	<xsd:element name="billerID" type="xsd:string"/>
          	<xsd:element name="appcode" type="xsd:string"/>
          	<xsd:element name="apppassphrase" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="BillPayUsingWalletResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="BillPayUsingWalletResult" type="tns:BillPayUsingWalletResult"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    
      <xsd:complexType name="BillPayUsingWalletResult">
      	<xsd:sequence>
      		<xsd:element name="BillPayUsingWalletResponse" type="tns:BillPayUsingWalletResponse">
      		</xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="BillPayUsingWalletResponse">
      	<xsd:sequence>
      		<xsd:element name="UtilAPICheckStatusResponse" type="tns:UtilAPICheckStatusResponse">
      		</xsd:element>
      		<xsd:element name="Successful" type="xsd:boolean"/>
      		<xsd:element name="Remarks" type="xsd:string"/>

      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="UtilAPICheckStatusResponse">
      	<xsd:sequence>
      		<xsd:element name="CBSPosted" type="xsd:boolean"/>
      		<xsd:element name="ACHCreated" type="xsd:boolean"/>
      		<xsd:element name="ACHAccepted" type="xsd:boolean"/>
      		<xsd:element name="ACHRejected" type="xsd:boolean"/>
      	</xsd:sequence>
      </xsd:complexType>
    </xsd:schema>