DashenBankUnFreezeAmountApp/FCUBSCustomerService_InlineSchema2.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/FCUBSCustomerService/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/FCUBSCustomerService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
            <xsd:include schemaLocation="FCUBSCustomerService_InlineSchema2.xsd"/>
            <xsd:element ibmSchExtn:docRoot="true" name="CLOSEAMTBLK_FSFS">
        <xsd:complexType>
          <xsd:sequence>


                <xsd:element name="Unblocking_HEADER"
                	type="tns:UnBlockingHeaderType">
                </xsd:element>
                <xsd:element name="Unblocking_BODY"
                	type="tns:Amount-Blocks-Full">
                </xsd:element>

          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="CLOSEAMTBLK_FSFSResponse">
        <xsd:complexType>
          <xsd:sequence>

                <xsd:element name="Unblocking_HEADER"
                	type="tns:UnBlockingHeaderType">
                </xsd:element>
                <xsd:element name="Unblocking_BODY"
          		type="tns:Amount-Blocks-Full_Type">
          	</xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    
      <xsd:complexType name="Amount-Blocks-Full_REQ_Type">
      	<xsd:sequence>
      		<xsd:element name="ACC" type="xsd:string"/>
      		<xsd:element name="AMTBLKNO" type="xsd:string"/>
      		<xsd:element name="AMT" type="xsd:string"/>
      		<xsd:element name="ABLKTYPE" type="xsd:string"/>
      		<xsd:element name="HOLDDESC" type="xsd:string"/>
      		<xsd:element name="BRANCH" type="xsd:string"/>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="Amount-Blocks-Full_Type">
      	<xsd:sequence>
      		<xsd:element name="ACC" type="xsd:string"/>
      		<xsd:element name="AMTBLKNO" type="xsd:string"/>
      		<xsd:element name="AMT" type="xsd:string"/>
      		<xsd:element name="ABLKTYPE" type="xsd:string"/>
      		<xsd:element name="EFFDATE" type="xsd:string"/>
      		<xsd:element name="BRANCH" type="xsd:string"/>
      		<xsd:element name="VERIFY_AVL_BAL" type="xsd:string"/>
      		<xsd:element name="SOURCE_CODE" type="xsd:string"/>
      		<xsd:element name="MAKER" type="xsd:string"/>
      		<xsd:element name="MAKERSTAMP" type="xsd:string"/>
      		<xsd:element name="CHECKER" type="xsd:string"/>
      		<xsd:element name="CHECKERSTAMP" type="xsd:string"/>
      		<xsd:element name="MODNO" type="xsd:string"/>
            <xsd:element name="TXNSTAT" type="xsd:string" />
            <xsd:element name="AUTHSTAT" type="xsd:string"/>
      		<xsd:element name="Unblocking_WARNING_RESP" type="tns:WARNING_Type">
      		</xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="WARNING_Type">
      	<xsd:sequence>
      		<xsd:element name="WCODE" type="xsd:string"/>
      		<xsd:element name="WDESC" type="xsd:string"/>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="UnBlockingHeaderType">
      	<xsd:sequence>
      		<xsd:element name="Source" type="xsd:string"></xsd:element>
      		<xsd:element name="UBSCOMP" type="xsd:string"></xsd:element>
      		<xsd:element name="USERID" type="xsd:string"></xsd:element>
      		<xsd:element name="BRANCH" type="xsd:string"></xsd:element>
      		<xsd:element name="SERVICE" type="xsd:string"></xsd:element>
      		<xsd:element name="OPERATION" type="xsd:string"></xsd:element>
      		<xsd:element name="MSGSTAT" type="xsd:string"></xsd:element>

      	</xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="Amount-Blocks-Full">
      	<xsd:sequence>
      		<xsd:element name="Amount-Blocks-Full"
      			type="tns:Amount-Blocks-Full_REQ_Type">
      		</xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
</xsd:schema>