DashenBank_BulkFundTransfer_APP/BulkFundTransfer.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="BulkFundTransfer" targetNamespace="http://www.example.org/BulkFundTransfer/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/BulkFundTransfer/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:documentation>
    <wsdl:appinfo source="WMQI_APPINFO">
      <MRWSDLAppInfo imported="true">
        <generatedXSD location="BulkFundTransfer_InlineSchema1.xsd"/>
        <binding hasEncoding="false" imported="true" name="BulkFundTransferSOAP" originalBindingStyle="document"/>
      </MRWSDLAppInfo>
    </wsdl:appinfo>
  </wsdl:documentation>
  <wsdl:types>
    
          <xsd:schema targetNamespace="http://www.example.org/BulkFundTransfer/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions">
<xsd:include schemaLocation="BulkFundTransfer_InlineSchema1.xsd"/>
    </xsd:schema>
    </wsdl:types>
  <wsdl:message name="CREATEMJRNLBOOKRequest">
    <wsdl:part element="tns:CREATEMJRNLBOOK" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="CREATEMJRNLBOOKResponse">
    <wsdl:part element="tns:CREATEMJRNLBOOKResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="AuthorizeMjrnlbookRequest">
  	<wsdl:part element="tns:AuthorizeMjrnlbook" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="AuthorizeMjrnlbookResponse">
  	<wsdl:part element="tns:AuthorizeMjrnlbookResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="BulkFundTransfer">
    <wsdl:operation name="CREATEMJRNLBOOK">
      <wsdl:input message="tns:CREATEMJRNLBOOKRequest"/>
      <wsdl:output message="tns:CREATEMJRNLBOOKResponse"/>
    </wsdl:operation>
    <wsdl:operation name="AuthorizeMjrnlbook">
    	<wsdl:input message="tns:AuthorizeMjrnlbookRequest"/>
    	<wsdl:output message="tns:AuthorizeMjrnlbookResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BulkFundTransferSOAP" type="tns:BulkFundTransfer">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="CREATEMJRNLBOOK">
      <soap:operation soapAction="http://www.example.org/BulkFundTransfer/CREATEMJRNLBOOK"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BulkFundTransfer">
    <wsdl:port binding="tns:BulkFundTransferSOAP" name="BulkFundTransferSOAP">
      <soap:address location="http://localhost:7800/BulkFundTransfer"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>