DashenBank_BulkFundTransfer_APP/BulkFundTransfer_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/BulkFundTransfer/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/BulkFundTransfer/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <xsd:element ibmSchExtn:docRoot="true" name="CREATEMJRNLBOOK">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="CREATEMJRNLBOOK_IOPK_REQ" type="tns:CREATEMJRNLBOOK_IOPK_REQ"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="CREATEMJRNLBOOKResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="CREATEMJRNLBOOK_FSFS_REQ" type="tns:CREATEMJRNLBOOK_FSFS_REQ"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    
      <xsd:complexType name="CREATEMJRNLBOOK_IOPK_REQ">
      	<xsd:sequence>
      		<xsd:element name="FCUBS_HEADER" type="tns:FCUBS_HEADER">
      		</xsd:element>
      		<xsd:element name="FCUBS_BODY" type="tns:FCUBS_BODY"/>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="FCUBS_HEADER">
      	<xsd:sequence>
      		<xsd:element name="SOURCE" type="xsd:string"/>
      		<xsd:element name="UBSCOMP" type="xsd:string"/>
      		<xsd:element name="MSGID" type="xsd:string"/>
      		<xsd:element name="CORRELID" type="xsd:string"/>
      		<xsd:element name="USERID" type="xsd:string"/>
      		<xsd:element name="ENTITY" type="xsd:string"/>
      		<xsd:element name="BRANCH" type="xsd:string"/>
      		<xsd:element name="MODULEID" type="xsd:string"/>
      		<xsd:element name="SERVICE" type="xsd:string"/>
      		<xsd:element name="OPERATION" type="xsd:string"/>
      		<xsd:element name="SOURCE_OPERATION" type="xsd:string"/>
      		<xsd:element name="SOURCE_USERID" type="xsd:string"/>
      		<xsd:element name="DESTINATION" type="xsd:string"/>
      		<xsd:element name="MULTITRIPID" type="xsd:string"/>
      		<xsd:element name="FUNCTIONID" type="xsd:string"/>
      		<xsd:element name="ACTION" type="xsd:string"/>
      		<xsd:element name="MSGSTAT" type="xsd:string"/>
      		<xsd:element name="SNAPSHOTID" type="xsd:string"/>
      		<xsd:element name="PASSWORD" type="xsd:string"/>
      		<xsd:element name="ADDL" type="tns:ADDL"/>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="ADDL">
      	<xsd:sequence>
      		<xsd:element name="PARAM" type="tns:PARAM"/>
      		<xsd:element name="PARAM" type="tns:PARAM"/>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="PARAM">
      	<xsd:sequence>
      		<xsd:element name="NAME" type="xsd:string"/>
      		<xsd:element name="VALUE" type="xsd:string"/>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="FCUBS_BODY">
      	<xsd:sequence>

      		<xsd:element name="Detbs-Jrnl-Txn-Master-Full" type="tns:Detbs-Jrnl-Txn-Master-Full"/>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="Detbs-Jrnl-Txn-Master-IO">
      	<xsd:sequence>
      		<xsd:element name="REFERENCE_NO" type="xsd:string"/>
      		<xsd:element name="BATCH_NO" type="xsd:string"/>
      		<xsd:element name="CURR_NO" type="xsd:float"/>
      		<xsd:element name="TEMPLATE_CODE" type="xsd:string"/>
      		<xsd:element name="VALUE_DATE" type="xsd:date"/>
      		<xsd:element name="BRANCH_CODE" type="xsd:string"/>
      		<xsd:element name="CCY" type="xsd:string"/>
      		<xsd:element name="FUNDID" type="xsd:string"/>
      		<xsd:element name="Detbs-Jrnl-Txn-Detail" type="tns:Detbs-Jrnl-Txn-Detail">
      		</xsd:element>
      		<xsd:element name="Detbs-Jrnl-Txn-Detail" type="tns:Detbs-Jrnl-Txn-Detail">
      		</xsd:element>
      		<xsd:element name="Devws-Batch-Master" type="tns:Devws-Batch-Master">
      		</xsd:element>
      		<xsd:element name="Misdetails" type="tns:Misdetails"/>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="Detbs-Jrnl-Txn-Detail">
      	<xsd:sequence>
      		<xsd:element name="SERIAL_NO" type="xsd:float"/>
      		<xsd:element name="USER_REF_NO" type="xsd:string"/>
      		<xsd:element name="DR_CR" type="xsd:string"/>
      		<xsd:element name="BRANCH_CODE" type="xsd:string"/>
      		<xsd:element name="ACCORGL" type="xsd:string"/>
      		<xsd:element name="ACCOUNT" type="xsd:string"/>
      		<xsd:element name="CCY" type="xsd:string"/>
      		<xsd:element name="AMOUNT" type="xsd:float"/>
      		<xsd:element name="TXN_CODE" type="xsd:string"/>
      		<xsd:element name="INSTRUMENT_NO" type="xsd:string"/>
      		<xsd:element name="LCY_AMOUNT" type="xsd:float"/>




      		<xsd:element name="ADDL_TEXT" type="xsd:string"/>
      		<xsd:element name="CUSTOMER" type="xsd:string"/>
      		<xsd:element name="EXCH_RATE" type="xsd:float"/>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="Devws-Batch-Master">
      	<xsd:sequence>
      		<xsd:element name="BATCH_NUMBER" type="xsd:string"/>
      		<xsd:element name="DESCRIPTION" type="xsd:string"/>
      		<xsd:element name="DEBIT" type="xsd:float"/>
      		<xsd:element name="CREDIT" type="xsd:float"/>
      		<xsd:element name="BALANCING" type="xsd:string"/>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="Misdetails">
      	<xsd:sequence>
      		<xsd:element name="CONREFNO" type="xsd:string"/>
      		<xsd:element name="MISGRP" type="xsd:string"/>
      		<xsd:element name="RELACC" type="xsd:string"/>
      		<xsd:element name="MISHEAD" type="xsd:string"/>
      		<xsd:element name="POOLCD" type="xsd:string"/>
      		<xsd:element name="REFINANCE_RATE" type="xsd:float"/>
      		<xsd:element name="REFRATETYP" type="xsd:string"/>
      		<xsd:element name="CALCMETH1" type="xsd:string"/>
      		<xsd:element name="REFSPREAD" type="xsd:float"/>
      		<xsd:element name="REFRATECD" type="xsd:string"/>
      		<xsd:element name="COSTCD1" type="xsd:string"/>
      		<xsd:element name="COSTCD2" type="xsd:string"/>
      		<xsd:element name="COSTCD3" type="xsd:string"/>
      		<xsd:element name="COSTCD4" type="xsd:string"/>
      		<xsd:element name="COSTCD5" type="xsd:string"/>
      		<xsd:element name="TXN_MIS_1" type="xsd:string"/>
      		<xsd:element name="TXN_MIS_10" type="xsd:string"/>
      		<xsd:element name="TXN_MIS_2" type="xsd:string"/>
      		<xsd:element name="TXN_MIS_3" type="xsd:string"/>
      		<xsd:element name="TXN_MIS_4" type="xsd:string"/>
      		<xsd:element name="TXN_MIS_5" type="xsd:string"/>
      		<xsd:element name="TXN_MIS_6" type="xsd:string"/>
      		<xsd:element name="TXN_MIS_7" type="xsd:string"/>
      		<xsd:element name="TXN_MIS_8" type="xsd:string"/>
      		<xsd:element name="TXN_MIS_9" type="xsd:string"/>
      		<xsd:element name="MISGRPCOMP" type="xsd:string"/>
      		<xsd:element name="MISGRPTXN" type="xsd:string"/>
      		<xsd:element name="COMP_MIS_1" type="xsd:string"/>
      		<xsd:element name="COMP_MIS_10" type="xsd:string"/>
      		<xsd:element name="COMP_MIS_2" type="xsd:string"/>
      		<xsd:element name="COMP_MIS_3" type="xsd:string"/>
      		<xsd:element name="COMP_MIS_4" type="xsd:string"/>
      		<xsd:element name="COMP_MIS_5" type="xsd:string"/>
      		<xsd:element name="COMP_MIS_6" type="xsd:string"/>
      		<xsd:element name="COMP_MIS_7" type="xsd:string"/>
      		<xsd:element name="COMP_MIS_8" type="xsd:string"/>
      		<xsd:element name="COMP_MIS_9" type="xsd:string"/>
      		<xsd:element name="FUND_MIS_1" type="xsd:string"/>
      		<xsd:element name="FUND_MIS_10" type="xsd:string"/>
      		<xsd:element name="FUND_MIS_2" type="xsd:string"/>
      		<xsd:element name="FUND_MIS_3" type="xsd:string"/>
      		<xsd:element name="FUND_MIS_4" type="xsd:string"/>
      		<xsd:element name="FUND_MIS_5" type="xsd:string"/>
      		<xsd:element name="FUND_MIS_6" type="xsd:string"/>
      		<xsd:element name="FUND_MIS_7" type="xsd:string"/>
      		<xsd:element name="FUND_MIS_8" type="xsd:string"/>
      		<xsd:element name="FUND_MIS_9" type="xsd:string"/>
      		<xsd:element name="MISGRPFUN" type="xsd:string"/>
      		<xsd:element name="Txnmisdetails" type="xsd:string"/>
      		<xsd:element name="Txnmisdetails" type="xsd:string"/>
      		<xsd:element name="Compmisdetails" type="xsd:string"/>
      		<xsd:element name="Compmisdetails" type="xsd:string"/>
      		<xsd:element name="Fundmisdetails" type="xsd:string"/>
      		<xsd:element name="Fundmisdetails" type="xsd:string"/>
      		<xsd:element name="Balance-Trnsfer-Log-Details" type="tns:Balance-Trnsfer-Log-Details">
      		</xsd:element>
      		<xsd:element name="Balance-Trnsfer-Log-Details" type="tns:Balance-Trnsfer-Log-Details"/>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="Balance-Trnsfer-Log-Details">
      	<xsd:sequence>
      		<xsd:element name="BRANCH" type="xsd:string"/>
      		<xsd:element name="PERIOD_CODE" type="xsd:string"/>
      		<xsd:element name="FIN_YEAR" type="xsd:string"/>
      		<xsd:element name="REFERENCE_NO" type="xsd:string"/>
      		<xsd:element name="GL_CODE" type="xsd:string"/>
      		<xsd:element name="REFERENCE_TYPE" type="xsd:string"/>
      		<xsd:element name="TRANSFER_IND" type="xsd:string"/>
      		<xsd:element name="MIS_CLASS" type="xsd:string"/>
      		<xsd:element name="TXN_DATE" type="xsd:date"/>
      		<xsd:element name="OLD_MIS_CODE" type="xsd:string"/>
      		<xsd:element name="NEW_MIS_CODE" type="xsd:string"/>
      		<xsd:element name="CCY" type="xsd:string"/>
      		<xsd:element name="AMOUNT" type="xsd:float"/>
      		<xsd:element name="EX_RATE" type="xsd:float"/>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="CREATEMJRNLBOOK_FSFS_REQ">
      	<xsd:sequence>
      		<xsd:element name="FCUBS_HEADER" type="tns:FCUBS_HEADER">
      		</xsd:element>
      		<xsd:element name="FCUBS_BODY" type="tns:FCUBS_BODY"/>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="Detbs-Jrnl-Txn-Master-Full">
      	<xsd:sequence>
      		<xsd:element name="REFERENCE_NO" type="xsd:string"/>
      		<xsd:element name="BATCH_NO" type="xsd:string"/>
      		<xsd:element name="CURR_NO" type="xsd:float"/>
      		<xsd:element name="TEMPLATE_CODE" type="xsd:string"/>
      		<xsd:element name="VALUE_DATE" type="xsd:date"/>
      		<xsd:element name="BRANCH_CODE" type="xsd:string"/>
      		<xsd:element name="CCY" type="xsd:string"/>
      		<xsd:element name="TOTAL_DR" type="xsd:float"/>
      		<xsd:element name="TOTAL_CR" type="xsd:float"/>
      		<xsd:element name="MAKER" type="xsd:string"/>
      		<xsd:element name="MAKDTTIME" type="xsd:string"/>
      		<xsd:element name="CHECHKERID" type="xsd:string"/>
      		<xsd:element name="CHKDTTIME" type="xsd:string"/>
      		<xsd:element name="AUTHSTAT" type="xsd:string"/>
      		<xsd:element name="TXNSTAT" type="xsd:string"/>
      		<xsd:element name="FUNDID" type="xsd:string"/>
      		<xsd:element name="REC_NO" type="xsd:float"/>
      		<xsd:element name="TOTAL_NO" type="xsd:float"/>
      		<xsd:element name="Detbs-Jrnl-Txn-Detail" type="tns:Detbs-Jrnl-Txn-Detail1">
      		</xsd:element>
      		<xsd:element name="Detbs-Jrnl-Txn-Detail" type="tns:Detbs-Jrnl-Txn-Detail1">
      		</xsd:element>
      		<xsd:element name="Detbs-Batch-Master" type="tns:Detbs-Batch-Master1">
      		</xsd:element>
      		<xsd:element name="Devws-Batch-Master" type="tns:Devws-Batch-Master1">
      		</xsd:element>
      		<xsd:element name="Misdetails" type="tns:Misdetails1"/>


      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="Detbs-Jrnl-Txn-Detail1">
      	<xsd:sequence>
      		<xsd:element name="SERIAL_NO" type="xsd:float"/>
      		<xsd:element name="USER_REF_NO" type="xsd:string"/>
      		<xsd:element name="DR_CR" type="xsd:string"/>
      		<xsd:element name="BRANCH_CODE" type="xsd:string"/>
      		<xsd:element name="ACCORGL" type="xsd:string"/>
      		<xsd:element name="ACCOUNT" type="xsd:string"/>
      		<xsd:element name="CCY" type="xsd:string"/>
      		<xsd:element name="AMOUNT" type="xsd:float"/>
      		<xsd:element name="TXN_CODE" type="xsd:string"/>
      		<xsd:element name="INSTRUMENT_NO" type="xsd:string"/>
      		<xsd:element name="LCY_AMOUNT" type="xsd:float"/>
      		<xsd:element name="ADDL_TEXT" type="xsd:string"/>
      		<xsd:element name="ACDESC" type="xsd:string"/>
      		<xsd:element name="CUSTOMER" type="xsd:string"/>
      		<xsd:element name="EXCH_RATE" type="xsd:float"/>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="Detbs-Batch-Master1">
      	<xsd:sequence>
      		<xsd:element name="BATCH_NO" type="xsd:string"/>
      		<xsd:element name="DESCRIPTION" type="xsd:string"/>
      		<xsd:element name="DEBIT" type="xsd:float"/>
      		<xsd:element name="CREDIT" type="xsd:float"/>
      		<xsd:element name="DR_ENT_TOTAL" type="xsd:float"/>
      		<xsd:element name="CR_ENT_TOTAL" type="xsd:float"/>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="Devws-Batch-Master1">
      	<xsd:sequence>
      		<xsd:element name="BATCH_NUMBER" type="xsd:string"/>
      		<xsd:element name="DESCRIPTION" type="xsd:string"/>
      		<xsd:element name="LAST_OPERATED_BY" type="xsd:string"/>
      		<xsd:element name="LAST_AUTHORISED_BY" type="xsd:string">
      		</xsd:element>
      		<xsd:element name="MAKERDT" type="xsd:date"/>
      		<xsd:element name="CHECKERDT" type="xsd:date"/>
      		<xsd:element name="DEBIT" type="xsd:float"/>
      		<xsd:element name="CREDIT" type="xsd:float"/>
      		<xsd:element name="BALANCING" type="xsd:string"/>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="Misdetails1">
      	<xsd:sequence>
      		<xsd:element name="CONREFNO" type="xsd:string"/>
      		<xsd:element name="MISGRP" type="xsd:string"/>
      		<xsd:element name="RELACC" type="xsd:string"/>
      		<xsd:element name="RELETED_REFERENCE" type="xsd:string"/>
      		<xsd:element name="MISHEAD" type="xsd:string"/>
      		<xsd:element name="RATEFLG" type="xsd:string"/>
      		<xsd:element name="POOLCD" type="xsd:string"/>
      		<xsd:element name="REFINANCE_RATE" type="xsd:float"/>
      		<xsd:element name="REFRATETYP" type="xsd:string"/>
      		<xsd:element name="CALCMETH1" type="xsd:string"/>
      		<xsd:element name="REFSPREAD" type="xsd:float"/>
      		<xsd:element name="REFRATECD" type="xsd:string"/>
      		<xsd:element name="COSTCD1" type="xsd:string"/>
      		<xsd:element name="COSTCD2" type="xsd:string"/>
      		<xsd:element name="COSTCD3" type="xsd:string"/>
      		<xsd:element name="COSTCD4" type="xsd:string"/>
      		<xsd:element name="COSTCD5" type="xsd:string"/>
      		<xsd:element name="TXN_MIS_1" type="xsd:string"/>
      		<xsd:element name="TXN_MIS_10" type="xsd:string"/>
      		<xsd:element name="TXN_MIS_2" type="xsd:string"/>
      		<xsd:element name="TXN_MIS_3" type="xsd:string"/>
      		<xsd:element name="TXN_MIS_4" type="xsd:string"/>
      		<xsd:element name="TXN_MIS_5" type="xsd:string"/>
      		<xsd:element name="TXN_MIS_6" type="xsd:string"/>
      		<xsd:element name="TXN_MIS_7" type="xsd:string"/>
      		<xsd:element name="TXN_MIS_8" type="xsd:string"/>
      		<xsd:element name="TXN_MIS_9" type="xsd:string"/>
      		<xsd:element name="MISGRPCOMP" type="xsd:string"/>
      		<xsd:element name="MISGRPTXN" type="xsd:string"/>
      		<xsd:element name="COMP_MIS_1" type="xsd:string"/>
      		<xsd:element name="COMP_MIS_10" type="xsd:string"/>
      		<xsd:element name="COMP_MIS_2" type="xsd:string"/>
      		<xsd:element name="COMP_MIS_3" type="xsd:string"/>
      		<xsd:element name="COMP_MIS_4" type="xsd:string"/>
      		<xsd:element name="COMP_MIS_5" type="xsd:string"/>
      		<xsd:element name="COMP_MIS_6" type="xsd:string"/>
      		<xsd:element name="COMP_MIS_7" type="xsd:string"/>
      		<xsd:element name="COMP_MIS_8" type="xsd:string"/>
      		<xsd:element name="COMP_MIS_9" type="xsd:string"/>
      		<xsd:element name="FUND_MIS_1" type="xsd:string"/>
      		<xsd:element name="FUND_MIS_10" type="xsd:string"/>
      		<xsd:element name="FUND_MIS_2" type="xsd:string"/>
      		<xsd:element name="FUND_MIS_3" type="xsd:string"/>
      		<xsd:element name="FUND_MIS_4" type="xsd:string"/>
      		<xsd:element name="FUND_MIS_5" type="xsd:string"/>
      		<xsd:element name="FUND_MIS_6" type="xsd:string"/>
      		<xsd:element name="FUND_MIS_7" type="xsd:string"/>
      		<xsd:element name="FUND_MIS_8" type="xsd:string"/>
      		<xsd:element name="FUND_MIS_9" type="xsd:string"/>
      		<xsd:element name="MISGRPFUN" type="xsd:string"/>
      		<xsd:element name="TRANMIS1" type="xsd:string"/>
      		<xsd:element name="TRANMIS2" type="xsd:string"/>
      		<xsd:element name="TRANMIS3" type="xsd:string"/>
      		<xsd:element name="TRANMIS4" type="xsd:string"/>
      		<xsd:element name="TRANMIS5" type="xsd:string"/>
      		<xsd:element name="TRANMIS6" type="xsd:string"/>
      		<xsd:element name="TRANMIS7" type="xsd:string"/>
      		<xsd:element name="TRANMIS8" type="xsd:string"/>
      		<xsd:element name="TRANMIS9" type="xsd:string"/>
      		<xsd:element name="TRANMIS10" type="xsd:string"/>
      		<xsd:element name="COMMIS1" type="xsd:string"/>
      		<xsd:element name="COMMIS2" type="xsd:string"/>
      		<xsd:element name="COMMIS3" type="xsd:string"/>
      		<xsd:element name="COMMIS4" type="xsd:string"/>
      		<xsd:element name="COMMIS5" type="xsd:string"/>
      		<xsd:element name="COMMIS6" type="xsd:string"/>
      		<xsd:element name="COMMIS7" type="xsd:string"/>
      		<xsd:element name="COMMIS8" type="xsd:string"/>
      		<xsd:element name="COMMIS9" type="xsd:string"/>
      		<xsd:element name="COMMIS10" type="xsd:string"/>
      		<xsd:element name="FUNMIS1" type="xsd:string"/>
      		<xsd:element name="FUNMIS2" type="xsd:string"/>
      		<xsd:element name="FUNMIS3" type="xsd:string"/>
      		<xsd:element name="FUNMIS4" type="xsd:string"/>
      		<xsd:element name="FUNMIS5" type="xsd:string"/>
      		<xsd:element name="FUNMIS6" type="xsd:string"/>
      		<xsd:element name="FUNMIS7" type="xsd:string"/>
      		<xsd:element name="FUNMIS8" type="xsd:string"/>
      		<xsd:element name="FUNMIS9" type="xsd:string"/>
      		<xsd:element name="FUNMIS10" type="xsd:string"/>
      		<xsd:element name="Txnmisdetails" type="xsd:string"/>
      		<xsd:element name="Txnmisdetails" type="xsd:string"/>
      		<xsd:element name="Compmisdetails" type="xsd:string"/>
      		<xsd:element name="Compmisdetails" type="xsd:string"/>
      		<xsd:element name="Fundmisdetails" type="xsd:string"/>
      		<xsd:element name="Fundmisdetails" type="xsd:string"/>
      		<xsd:element name="Control" type="xsd:string"/>
      		<xsd:element name="Balance-Trnsfer-Log-Details" type="tns:Balance-Trnsfer-Log-Details">
      		</xsd:element>
      		<xsd:element name="Balance-Trnsfer-Log-Details" type="tns:Balance-Trnsfer-Log-Details"/>
      	</xsd:sequence>
      </xsd:complexType>
      <xsd:element name="AuthorizeMjrnlbook">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="FCUBS_REQ_ENV" type="tns:FCUBS_REQ_ENV"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="AuthorizeMjrnlbookResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="AUTHORIZEMJRNLBOOK_FSFS_RES" type="tns:AUTHORIZEMJRNLBOOK_FSFS_RES"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    
      <xsd:complexType name="FCUBS_REQ_ENV">
      	<xsd:sequence>
      		<xsd:element name="FCUBS_HEADER" type="tns:FCUBS_HEADER1"/>
      		<xsd:element name="FCUBS_BODY" type="tns:FCUBS_BODY1"/>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="FCUBS_HEADER1">
      	<xsd:sequence>
      		<xsd:element name="SOURCE" type="xsd:string"/>
      		<xsd:element name="UBSCOMP" type="xsd:string"/>
      		<xsd:element name="MSGID" type="xsd:string"/>
      		<xsd:element name="CORRELID" type="xsd:string"/>

                    <xsd:element name="BRANCH" type="xsd:int"/>
                    <xsd:element name="MODULEID" type="xsd:string"/>

      		<xsd:element name="SERVICE" type="xsd:string"/>
      		<xsd:element name="OPERATION" type="xsd:string"/>
      		<xsd:element name="SOURCE_OPERATION" type="xsd:string"/>
      		<xsd:element name="DESTINATION" type="xsd:string"/>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="FCUBS_BODY1">
      	<xsd:sequence>
      		<xsd:element name="Detbs-Jrnl-Txn-Master-Full" type="tns:Detbs-Jrnl-Txn-Master-Full1"/>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="Detbs-Jrnl-Txn-Master-Full1">
      	<xsd:sequence>
      		<xsd:element name="REFERENCE_NO" type="xsd:string"/>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="AUTHORIZEMJRNLBOOK_FSFS_RES">
      	<xsd:sequence>
      		<xsd:element name="FCUBS_HEADER" type="tns:FCUBS_HEADER2">
      		</xsd:element>
      		<xsd:element name="FCUBS_BODY" type="tns:FCUBS_BODY2"/>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="FCUBS_HEADER2">
      	<xsd:sequence>
      		<xsd:element name="SOURCE" type="xsd:string"/>
      		<xsd:element name="UBSCOMP" type="xsd:string"/>
      		<xsd:element name="MSGID" type="xsd:string"/>
      		<xsd:element name="CORRELID" type="xsd:string"/>
      		<xsd:element name="USERID" type="xsd:string"/>
      		<xsd:element name="ENTITY" type="xsd:string"/>
      		<xsd:element name="BRANCH" type="xsd:int"/>
      		<xsd:element name="MODULEID" type="xsd:string"/>
      		<xsd:element name="SERVICE" type="xsd:string"/>
      		<xsd:element name="OPERATION" type="xsd:string"/>
      		<xsd:element name="DESTINATION" type="xsd:string"/>
      		<xsd:element name="FUNCTIONID" type="xsd:string"/>
      		<xsd:element name="ACTION" type="xsd:string"/>
      		<xsd:element name="MSGSTAT" type="xsd:string"/>
      	</xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="FCUBS_BODY2">
      	<xsd:sequence>
      		<xsd:element name="Detbs-Jrnl-Txn-Master-Full" type="tns:Detbs-Jrnl-Txn-Master-Full2">
      		</xsd:element>
      		<xsd:element name="FCUBS_WARNING_RESP" type="tns:FCUBS_WARNING_RESP"/>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="Detbs-Jrnl-Txn-Master-Full2">
      	<xsd:sequence>
      		<xsd:element name="REFERENCE_NO" type="xsd:string"/>

      		<xsd:element name="BRANCH_CODE" type="xsd:int"/>
      		<xsd:element name="CCY" type="xsd:string"/>
      		<xsd:element name="MAKER" type="xsd:string"/>
      		<xsd:element name="MAKDTTIME" type="xsd:date"/>
      		<xsd:element name="CHECHKERID" type="xsd:string"/>
      		<xsd:element name="AUTHSTAT" type="xsd:string"/>
      		<xsd:element name="TXNSTAT" type="xsd:string"/>
      		<xsd:element name="Misdetails" type="tns:Misdetails2"/>
      	</xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="FCUBS_WARNING_RESP">
      	<xsd:sequence>
      		<xsd:element name="WARNING" type="tns:WARNING"/>
      	</xsd:sequence>
      </xsd:complexType>
      
            <xsd:complexType name="Misdetails2">
            	<xsd:sequence>
            		<xsd:element name="CONREFNO" type="xsd:string"/>
            		<xsd:element name="POOLCD" type="xsd:string"/>
            		<xsd:element name="CALCMETH1" type="xsd:int"/>
            		<xsd:element name="TRANMIS1" type="xsd:string"/>
            		<xsd:element name="TRANMIS2" type="xsd:string"/>
            		<xsd:element name="COMMIS1" type="xsd:string"/>
            		<xsd:element name="COMMIS2" type="xsd:string"/>
            		<xsd:element name="COMMIS3" type="xsd:string"/>
            		<xsd:element name="FUNMIS1" type="xsd:string"/>
            	</xsd:sequence>
            </xsd:complexType>
    
            <xsd:complexType name="WARNING">
            	<xsd:sequence>
            		<xsd:element name="WCODE" type="xsd:string"/>
            		<xsd:element name="WDESC" type="xsd:string"/>
            	</xsd:sequence>
            </xsd:complexType>
    </xsd:schema>